/*
* FOOTER
*/


/***--- overide layout ---***/
#mk-footer .mk-col-1-3 {
	&:nth-child(1) {
		ul {
			list-style:none;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
			li a {
				font-family:Montserrat;
				line-height:1;
			}
		}
	}
}

#mk-footer p {
	font-family: Montserrat;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	a {
		transition: all .25s cubic-bezier(.23,1,.32,1);
		color: $cream !important;
		&:hover {
			transform: scale(1.1);
			color: $white !important;
			text-shadow: 0 0 30px rgba($white,0.5);
		}
	}
	//Footer Contact button
	a.footer-contact {

		max-width:160px;
		background:$cream;
		color:$blue!important;
		display:inline-block;
		transition:0.3s;
		font-family: Montserrat-Medium;
		font-size: 18px!important;
		letter-spacing: -0.41px;
		padding:14px 26px;
		border-radius:6px;
		margin-top:15px;
		&:hover {
			background: white;
			color:white;
			transform:none;
		}
	}
}

p#newsletter-signup-text {
	margin-bottom:0px;
}

#mk-footer form.form-newsletter {
	margin:auto;
	input[type="text"] {
		color: $cream;
		font-family: Montserrat !important;
		font-size: 14px;
		font-weight: 300;
		border-radius: 10px;
		padding: 15px 20px !important;
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: $navy;
		    opacity: 1; /* Firefox */
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: $navy;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		    color: $navy;
		}
	}
	.gform_body{
		clear: none;
		display: block;
		width: 50%;
	}
	.gform_footer{
		clear: none;
		display: block;
		margin: 11px 16px 0 0;
	}
	.cc-email input{
		width: 100%;
	}
	input[type="submit"] {
		border-radius: 10px;
		color: #F5F3EB;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0px;
		text-transform: capitalize;
		padding: 19px 30px;
		width:auto!important;
	}
	@media screen and (min-width:769px){
		.gform_body, .gform_footer {
			float:left;
		}
		.gform_footer {
			width: 30%;
		}
		input[type="submit"] {
			text-align: center;
		}
	}
	@media screen and (max-width:768px){
		.gform_body, .gform_footer {
			width: 100%;
		}
	}
}
