/*
* Forms
*/


input[type="text"] {
	font-size: 20px;
	font-weight: 300;
	border: 0;
	background: $cream;
	padding: 20px;
	border-radius: 5px;
	transition: all .3s ease-out;
	&:focus {
		border: 0;
		background-color: lighten( $cream, 4% );
		box-shadow: inset 0 0 0 1px darken( $cream, 10% );
	}
}