// Logo
.header-logo img {
	margin-left: -40px;
	max-width: 200px !important;
}

// maintain padding on logo while sticky

.a-sticky .header-logo img {
	max-height: 70%;
	margin-top: 2px;
}

// shift main nav to the right
.main-navigation-ul {
	margin-left: 352px;
}
