#search-icons {
    font-family: 'Montserrat', sans-serif!important;
    text-align: center;
    input[type="radio"]{
        display:none;
    }
    .input-container {
        display:inline-block;
        width:32%;
        vertical-align: top;
    }
    .icon-container {
        padding:13px 0px;
        display:inline-block;
        text-align: center;
        font-size: 15px;
        color: $navy;
        width:100%;
        border-radius:10px;
        cursor:pointer;
        .icon-label {
          line-height:1.6em;
        }
    }
    .icon-container:hover, input[type="radio"]:checked + label {
        background:#ffffff;
        svg path {
            fill: $red;
        }
        span {
            color:$red;
            pointer:cursor;
        }
    }
    img {
        display:block;
        margin:auto;
    }
    svg {
        display:block;
        margin:auto;
    }
    .dropdown-container {
        margin: 25px 0px;
        text-align:center;
        select, #monthpicker {
            display:inline-block;
            border-radius:5px!important;
            background-color:#fff;
            border:none;
            font-size:20px;
            font-weight:300;
            color:#9B9B9B;
            height:48px;
            option {
                color:$navy!important;
                &:first-child {
                    color:#9B9B9B!important;
                }
            }
        }
        #monthpicker {
            padding:11px 12px 13px 16px;
            color:black;
        }
        input[type="submit"] {
            color:white;
            border:none;
            border-radius:10px;
            background:$red;
            margin:24px 0px;
            font-weight:400;
            padding:18px 0px;
            width:100%;
            max-width:222px;
            font-size:20px;
        }
    }
    select, #monthpicker {
      width:50%;
      max-width:213px!important;
      margin:8px 0px;
      line-height:normal!important;
    }
    @media screen and (max-width:768px) {
      select, #monthpicker {
        width:100%;
        max-width:100%;
      }
    }
    @media screen and (max-width:480px) {
      .icon-label {
        font-size:12px;
      }
    }
}

//monthpicker
#MonthPicker_monthpicker{
    font-size:16px;
    .ui-state-default, .ui-widget-content .ui-state-default {
        width:auto;
    }
    .month-picker-month-table {
        margin-bottom:0px;
    }
}

//Placeholders
/* do not group these rules */
#monthpicker::-webkit-input-placeholder {
    color:#9B9B9B!important;
    opacity:1!important;
}
#monthpicker:-moz-placeholder {
    /* FF 4-18 */
    color:#9B9B9B!important;
    opacity:1!important;
}
#monthpicker::-moz-placeholder {
    /* FF 19+ */
    color:#9B9B9B!important;
    opacity:1!important;
}
#monthpicker:-ms-input-placeholder {
    /* IE 10+ */
    color:#9B9B9B!important;
    opacity:1!important;
}
