.side-dash-top-widgets {
  //Align image with side menu
  padding-left:20px;
}
#menu-side-menu {
  li {
    border-top:none;
    border-bottom:none;
  }
  a, a span {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size:20px;
  }
}
.sidedash-navigation-ul li ul li a {
  line-height:1;
}
