///Offset for padding wrapper on desktop
.mk-header-padding-wrapper {
  margin-bottom:71px;
}
#usarc-search {
  //offset
  background:white;
  margin:auto auto 71px;
  box-sizing: border-box;
  width:100%;
  position: relative;
  #search-container {
    @media screen and (min-width:1001px){
      border-bottom: 1px solid #C2C4D1;
    }
    margin: auto;
    padding:20px 4%;
    left:0;
    top:0;
    right:0;
    margin-top:-1px;
    position: absolute;
    width: 100vw;
    @media screen and (min-width:1691px){
      .cruise-finder-title {
        margin-right:20px;
      }
      &:before {
        position: absolute;
        content:'';
        box-sizing: content-box;
        z-index: -1;
        background:white;
        height:100%;
        width:100vw;
      }
      .toggle-arrow {
        display:none;
      }
      display: flex;
      align-items:center;
      justify-content: center;
      .cruise-finder-fields {
        display:inline-flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        select {
          flex: 0 1 auto;
          max-width:220px;
        }
        input[type="submit"]{
          margin-left:25px;
        }
      }
    }
    
    background: white;
  }
  
  #cruise-finder-checkbox {
    display:none;
  }
  outline: 1px solid white;
  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  .cruise-finder-title {
    color:$red;
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
  .cruise-finder-fields {
    padding:5px;
    select {
      border-radius:10px;
      border:2px solid $navy;
      font-size:14px;
      padding:.36em 40px .36em 15px;
      margin:5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance:none;
      background: url(/wp-content/uploads/select-down.svg) 90% / 12px no-repeat #fff;
    }
    input[type="submit"]{
      color:white;
      font-weight:500;
      font-size:16px;
      padding:.625em .75em;
      border-radius:5px;
      letter-spacing: -0.55px;
      background:$red;
      text-transform: uppercase;
      border:none;
      outline:none;
      font-family: 'Zilla Slab', serif;
      &:hover {
        background:$blue;
      }
    }
  }

  
  
  @media screen and (max-width:1690px){
    .cruise-finder-title {
      margin:auto;
      text-align:center;
      &:after {
        display:none;
      }
      &, label {
        cursor:pointer;
        display: block;
      }
    }
    .cruise-finder-fields {
      margin:auto!important;
      display:none;
    }
    .toggle-arrow {
      display:inline-block;
      width:12px;
    }
    input[type="submit"] {
      margin:10px 0px;
    }
    select {
      option {
        text-align:center!important;
      }
    }
    .cruise-finder-fields {
      margin:auto!important;
      display:none;
      text-align:center;
    }
    #cruise-finder-checkbox:checked ~ .cruise-finder-fields {
      display:block!important;
    }
    
    select, input[type="submit"] {
      width:83.8%;
      max-width:480px;
      display:block;
      margin:5px auto!important;
    }
  }
  
}
