/*!
Theme Name:     USA River Cruises
Description:    Child theme for USA River Cruises
Author:         Webfor
Author URI:     https://webfor.com
Template:       jupiter
Version:        2.0
*/
/*
* HELPERS
*/
/*
* BUTTONS
*/
.mk-button--size-small {
  padding: 14px 36px;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--size-large {
  padding: 20px 48px;
  font-size: 22px;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--corner-rounded,
.mk-button--corner-rounded .double-outline-inside {
  border-radius: 10px; }

#request-info {
  font-size: 20px;
  line-height: 1.2em;
  padding: 20px; }

.mobile-button .mk-button {
  font-size: 27px !important;
  padding: 13px 25px !important; }

.ml-responsive-table {
  margin-bottom: 15px; }
  .ml-responsive-table .ml-grid {
    border-bottom: 1px dashed #3e92cc; }
  .ml-responsive-table dl:nth-of-type(odd) {
    background: white; }

@media screen and (min-width: 1025px) {
  .sfm-navicon-button, .sfm-rollback {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .sfm-navicon-button {
    display: inline-block; }
  #sfm-sidebar {
    z-index: 10000000000 !important; } }

@media handheld, only screen and (max-width: 1024px) {
  .mk-dashboard-trigger, .header-style-1 .mk-nav-responsive-link {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .mobile-center * {
    text-align: center !important; }
  .mobile-background-hide {
    background: none !important; }
  .mobile-hide {
    display: none; } }

@media screen and (min-width: 768px) {
  .mobile-show {
    display: none !important; } }

/*
* GENERAL LAYOUT STYLES
*/
@media screen and (min-width: 768px) {
  .wf-vertical-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; } }

/***--- TYPOGRAPHY ---***/
h1.page-title {
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  letter-spacing: -0.55px;
  margin: 15px 20px 15px; }

.mk-fancy-title, .wpb_raw_html {
  margin-bottom: 0; }

.montserrat, .montserrat * {
  font-family: "Montserrat", sans-serif !important; }

.card {
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.5), 0 10px 30px -10px rgba(0, 0, 0, 0.25); }

.mk-single-employee.layout-style1 .employees-featured-image img {
  border-radius: 0px !important; }

.right-header {
  float: right;
  font-weight: bold;
  color: white;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  line-height: 123px;
  margin-right: 2.6vw;
  -webkit-transition: .2s;
  transition: .2s; }
  .right-header.cta > span {
    background: #b62327;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px 16px 8px;
    font-family: 'Zilla Slab', serif;
    border-radius: 5px; }
  .right-header.cta:hover > span {
    color: white !important;
    background: #3e92cc; }

.a-sticky .right-header {
  line-height: 82px; }

.side-dash-top-widgets {
  padding-bottom: 0px; }

#sidebar-cruise-search-form input[type="submit"] {
  visibility: hidden; }

img.sidebar-search-icon {
  max-width: 18px;
  float: left;
  padding: 4px 4px 0px 0px; }

#sidebar-cruise-search {
  background: none;
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid white;
  padding: 0px 0px 4px;
  color: white;
  font-size: 18px; }
  #sidebar-cruise-search::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white; }
  #sidebar-cruise-search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white; }

@media screen and (max-width: 1024px) {
  .mk-css-icon-menu div {
    background-color: #1c2555 !important; }
  .phone-header {
    color: #1c2555; } }

.rounded-image img {
  border-radius: 10px; }

.banner-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; }
  @media screen and (max-width: 1000px) {
    .banner-flex {
      -webkit-flex-wrap: wrap-reverse;
              flex-wrap: wrap-reverse;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center; } }
  .banner-flex .page-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
            flex: 1 1 0; }

#search-ad-holder {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1;
          flex: 1 0 1;
  max-width: 100%; }
  #search-ad-holder a > img {
    max-width: 100%;
    height: auto; }

/*
* HOMEPAGE
*/
#home-hero h2 {
  max-width: 425px; }
  @media (max-width: 768px) {
    #home-hero h2 {
      display: none; } }

#home-hero .mk-skip-to-next[data-skin=light] {
  border: 0; }

#home-hero .home-search {
  padding: 40px 40px 0px;
  background-image: -webkit-linear-gradient(top, #FFFFFF 25%, rgba(255, 255, 255, 0.8) 100%);
  background-image: linear-gradient(-180deg, #FFFFFF 25%, rgba(255, 255, 255, 0.8) 100%);
  border-radius: 20px; }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li a {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li a:hover {
      background: rgba(255, 255, 255, 0.25); }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li.is-active a {
    background: rgba(255, 255, 255, 0.66); }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-panes {
    background: transparent;
    border-color: transparent; }

#home-destinations .mk-image .mk-image-inner {
  -webkit-transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1); }
  #home-destinations .mk-image .mk-image-inner:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

.center-carousel .vc_images_carousel {
  margin: auto; }

.home-content .vc_images_carousel .vc_item {
  border-radius: 10px;
  overflow: hidden; }

.home-content .vc_images_carousel ol.vc_carousel-indicators {
  margin-bottom: -90px; }

.home-content .vc_images_carousel .vc_carousel-indicators li {
  border-color: transparent;
  width: 17px;
  height: 17px;
  margin: 13px; }

.home-content .carousel-blue-buttons .vc_carousel-indicators li {
  background-color: rgba(29, 37, 86, 0.31); }

.home-content .carousel-blue-buttons .vc_active {
  background-color: #1c2555 !important; }

.home-content .carousel-red-buttons .vc_carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.44); }

.home-content .carousel-red-buttons .vc_active {
  background-color: #b62327 !important; }

@media screen and (max-width: 767px) {
  .home-content .vc_carousel-indicators {
    display: none !important; } }

.home-content .mk-button {
  padding: 1em !important; }

#home-cta h3 {
  letter-spacing: -0.5px; }

#home-cta p {
  font-style: italic;
  font-size: 1.33em;
  line-height: 1.2; }

#home-cta a {
  font-weight: 800;
  display: inline-block;
  border-bottom: 2px solid white;
  line-height: 1em; }

/** Webfor Revisions 2019
* @since 2.0 
*/
.white-text * {
  color: white !important; }

.zilla, .zilla * {
  font-family: "Zilla Slab", serif !important; }

@media screen and (max-width: 767px) {
  #home-hero .page-section-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  #home-hero .page-section-content .mk-padding-wrapper {
    padding: 0 !important; } }

#home-hero h1,
#home-hero h2,
#home-hero h3,
#home-hero h4,
#home-hero h5,
#home-hero h6 {
  font-family: 'Zilla Slab', serif;
  letter-spacing: -.01em; }

#home-hero a:not(#request-info):hover {
  text-decoration: underline; }

.rounded-border, .rounded-border > a, .rounded-border img {
  border-radius: 10px; }
  @media screen and (max-width: 767px) {
    .rounded-border, .rounded-border > a, .rounded-border img {
      border-radius: 0; } }

@media screen and (max-width: 767px) {
  .rounded-border > a {
    border-radius: 10px !important; } }

#home-hero .page-section-content {
  max-width: 1140px; }

#home-hero p:last-of-type {
  margin-bottom: 0; }

.hero-first-column {
  background: rgba(29, 37, 86, 0.77); }

.hero-heading {
  padding: 24% calc(8.9% - 15px) 17.7%; }
  @media screen and (max-width: 767px) {
    .hero-heading {
      padding-bottom: 0; } }

.hero-subheading {
  padding: 7.1% calc(8.9%);
  background: rgba(62, 146, 204, 0.77);
  margin-bottom: 15px; }

.hero-heading h1 {
  font-size: 54px;
  line-height: 1.02em; }
  @media screen and (max-width: 767px) {
    .hero-heading h1 {
      font-size: 45px !important; } }

.top-cruises {
  max-width: 250px;
  padding: 39px 23px !important; }

.top-cruises h3 {
  font-size: 20px !important;
  margin-bottom: 26px !important; }

.top-cruises p {
  font-size: 16px;
  line-height: 1.25em;
  margin-bottom: 26px; }

@media screen and (min-width: 1282px) {
  .hero-first-column,
  .hero-second-column,
  .hero-third-column {
    padding: 0 !important; }
  .hero-first-column {
    margin-right: 5.35%; }
  .hero-second-column {
    margin-right: 6.84%; } }

@media screen and (min-width: 768px) {
  .hero-first-column {
    padding: 0 !important; }
  .hero-first-column {
    max-width: 450px; }
  .hero-second-column {
    max-width: 250px; }
  .hero-third-column {
    max-width: 300px; } }

@media screen and (max-width: 767px) {
  body .hero-first-column,
  body .hero-second-column,
  body .hero-third-column {
    margin-bottom: 0 !important; }
  .hero-first-column {
    padding-bottom: 106.5px !important; }
  .hero-third-column {
    padding: 0 !important; } }

.browse-trips {
  margin-bottom: 20px;
  padding: 14px 35px; }
  @media screen and (max-width: 767px) {
    .browse-trips {
      padding: 10.63% 22.46%; } }
  .browse-trips h1, .browse-trips h2, .browse-trips h3, .browse-trips h4, .browse-trips h5, .browse-trips h6 {
    font-size: 20px !important;
    line-height: 1.2;
    margin-bottom: 14px; }
  .browse-trips ul.trip-type-list {
    list-style-type: none;
    margin-left: 12px;
    margin-bottom: 0; }
    .browse-trips ul.trip-type-list li {
      margin-left: 0;
      padding-left: 40px;
      font-size: 18px;
      line-height: 2.1;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; }
      .browse-trips ul.trip-type-list li:before {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0; }
      .browse-trips ul.trip-type-list li.cruises:before {
        content: '';
        background-image: url("/wp-content/themes/usa-river-cruises/img/ocean-waves.svg"); }
      .browse-trips ul.trip-type-list li.destinations:before {
        content: '';
        background-image: url("/wp-content/themes/usa-river-cruises/img/globe.svg"); }
      .browse-trips ul.trip-type-list li.ships:before {
        content: '';
        background-image: url("/wp-content/themes/usa-river-cruises/img/ship.svg"); }
      .browse-trips ul.trip-type-list li.trains:before {
        content: '';
        background-image: url("/wp-content/themes/usa-river-cruises/img/train.svg"); }

.testimonial-block-container .testimonial-block {
  text-align: center; }

.testimonial-block-container blockquote {
  background: none;
  padding: 0; }

.testimonial-block-container .testimonial-author {
  font-style: italic;
  color: #b62327; }

.testimonial-block-container .testimonial-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-style: italic;
  line-height: 1.3;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

@media screen and (min-width: 768px) {
  .testimonial-block-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center; }
  .testimonial-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
    .testimonial-block .testimonial-thumb {
      position: absolute;
      top: -16px;
      -webkit-align-self: flex-start;
              align-self: flex-start; }
    .testimonial-block .testimonial-content {
      border-radius: 50%;
      background: #F5F3EB;
      width: 470px;
      height: 470px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center;
      font-style: italic;
      line-height: 1.3;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; }
      .testimonial-block .testimonial-content blockquote {
        max-width: 370px; } }

@media screen and (max-width: 767px) {
  body .bottom-row {
    padding-bottom: 0 !important; }
  .testimonial-block {
    position: relative;
    background: #F5F3EB;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px; }
    .testimonial-block:before {
      content: '';
      position: absolute;
      width: 200vw;
      z-index: -1;
      background: #F5F3EC;
      height: 100%;
      left: -50vw;
      top: 0; }
    .testimonial-block .testimonial-thumb {
      padding-bottom: 24px; } }

/* CRUISE ARCHIVE w/ DESTINATION STYLING */
#destination-taxonomy, #cruise-search-results {
  background: #f4f3eb; }
  #destination-taxonomy *, #cruise-search-results * {
    box-sizing: border-box; }
  #destination-taxonomy h1, #cruise-search-results h1 {
    color: #1c2555;
    font-size: 50px;
    letter-spacing: -0.55px; }
  #destination-taxonomy .description, #cruise-search-results .description {
    max-width: 735px; }
  #destination-taxonomy p, #cruise-search-results p {
    font-size: 18px;
    color: #1c2555;
    letter-spacing: -0.2px;
    padding: 0px; }
  #destination-taxonomy .archive-header-container, #cruise-search-results .archive-header-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  #destination-taxonomy .overlay, #cruise-search-results .overlay {
    background: rgba(245, 243, 235, 0.77); }
  #destination-taxonomy .cruise-archive-content, #cruise-search-results .cruise-archive-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 10px;
    display: block;
    position: static; }
  #destination-taxonomy .grid-container, #cruise-search-results .grid-container {
    width: 100%;
    max-width: 1200px; }
    #destination-taxonomy .grid-container:before, #destination-taxonomy .grid-container:after, #cruise-search-results .grid-container:before, #cruise-search-results .grid-container:after {
      content: "";
      display: table;
      clear: both; }
  #destination-taxonomy .cruise-card, #cruise-search-results .cruise-card {
    background: white;
    float: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 42px; }
    #destination-taxonomy .cruise-card img, #cruise-search-results .cruise-card img {
      width: 100%;
      max-width: 100%; }
    #destination-taxonomy .cruise-card .cruise-header-image-container, #cruise-search-results .cruise-card .cruise-header-image-container {
      position: relative; }
      #destination-taxonomy .cruise-card .cruise-header-image-container .cruise-header-image, #cruise-search-results .cruise-card .cruise-header-image-container .cruise-header-image {
        width: 100%;
        height: 0px;
        padding-top: 63%;
        background-color: #454756;
        background-position: center;
        background-size: cover;
        -webkit-transition: linear 0.1s;
        transition: linear 0.1s;
        display: block; }
        #destination-taxonomy .cruise-card .cruise-header-image-container .cruise-header-image:hover, #cruise-search-results .cruise-card .cruise-header-image-container .cruise-header-image:hover {
          -webkit-transform: scale(1.02);
                  transform: scale(1.02);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px); }
    #destination-taxonomy .cruise-card .cruise-card-content, #cruise-search-results .cruise-card .cruise-card-content {
      padding: 20px;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; }
    #destination-taxonomy .cruise-card h2, #cruise-search-results .cruise-card h2 {
      color: #3e92cc;
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      font-size: 30px;
      letter-spacing: -.5px; }
    #destination-taxonomy .cruise-card p, #destination-taxonomy .cruise-card li, #cruise-search-results .cruise-card p, #cruise-search-results .cruise-card li {
      font-family: 'Montserrat', sans-serif;
      font-family: 18px;
      letter-spacing: -0.45px;
      line-height: 22px; }
    #destination-taxonomy .cruise-card .cruise-details, #cruise-search-results .cruise-card .cruise-details {
      list-style: none;
      margin-left: 0px; }
      #destination-taxonomy .cruise-card .cruise-details li, #cruise-search-results .cruise-card .cruise-details li {
        margin-left: 0px;
        margin-top: 8px;
        padding-bottom: 8px;
        background-repeat: no-repeat;
        background-size: 25px auto;
        line-height: 30px;
        vertical-align: middle;
        letter-spacing: -0.24px; }
        #destination-taxonomy .cruise-card .cruise-details li span, #cruise-search-results .cruise-card .cruise-details li span {
          vertical-align: middle;
          font-size: 16px;
          display: inline-block;
          line-height: 19px;
          position: relative; }
        #destination-taxonomy .cruise-card .cruise-details li img, #cruise-search-results .cruise-card .cruise-details li img {
          display: inline;
          max-width: 25px;
          vertical-align: middle; }
    #destination-taxonomy .cruise-card a.cruise-select, #cruise-search-results .cruise-card a.cruise-select {
      font-size: 18px;
      font-weight: 400;
      color: #3e92cc;
      line-height: 22px;
      letter-spacing: -.41px;
      border: 2px solid #3e92cc;
      border-radius: 10px;
      padding: 10px 30px;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear;
      margin: 0px 20px 20px; }
      #destination-taxonomy .cruise-card a.cruise-select:hover, #cruise-search-results .cruise-card a.cruise-select:hover {
        background: #3e92cc;
        color: white; }
    #destination-taxonomy .cruise-card .sale-text, #cruise-search-results .cruise-card .sale-text {
      color: #b62327; }

#destination-taxonomy .mk-toggle-title {
  padding-left: 0px !important;
  font-size: 1em !important;
  color: #1c2555 !important;
  text-decoration: underline; }

#destination-taxonomy .mk-toggle-pane {
  padding: 0px !important;
  background: none !important; }

.mk-blog-newspaper-item .blog-item-holder {
  border-radius: 10px; }
  .mk-blog-newspaper-item .blog-item-holder .newspaper-item-footer {
    border-radius: 0px 0px 10px;
    background: #f4f3eb; }
  .mk-blog-newspaper-item .blog-item-holder .mk-readmore {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    color: #3e92cc;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
    border: 2px solid #3e92cc;
    border-radius: 10px; }
    .mk-blog-newspaper-item .blog-item-holder .mk-readmore:hover {
      color: white !important;
      background: #3e92cc; }

#destinations-loop {
  background: #f4f3eb; }
  #destinations-loop * {
    box-sizing: border-box; }
  #destinations-loop .header-container {
    background: white;
    padding: 70px 0px;
    margin: auto;
    background-position: center center;
    background-size: cover; }
    #destinations-loop .header-container h1 {
      text-align: left;
      color: #1c2555;
      font-weight: bold;
      font-style: italic;
      font-size: 50px;
      letter-spacing: -0.55px; }
  #destinations-loop .destinations-container {
    max-width: 1200px;
    padding: 40px 0px;
    margin: auto; }
    #destinations-loop .destinations-container:before, #destinations-loop .destinations-container:after {
      content: "";
      display: table;
      clear: both; }
  #destinations-loop .destination-card {
    height: 257px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center; }
    #destinations-loop .destination-card a {
      padding: 0px 40px;
      color: white;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      font-size: 36px;
      letter-spacing: -0.5px;
      line-height: 36px;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center;
      background: rgba(29, 37, 86, 0.2);
      border-radius: 10px; }
  #destinations-loop .vc_col-sm-3 {
    margin: 10px 0px; }

aside.cruise-list, article.sidebar-page {
  box-sizing: border-box; }

aside.cruise-list {
  padding: 0em 1.6em; }
  aside.cruise-list .card {
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 0px 20px; }
    aside.cruise-list .card h3 {
      color: white;
      padding: 10px 20px;
      background: #3e92cc;
      margin: 0px -20px 10px; }

@media screen and (min-width: 769px) {
  article.sidebar-page {
    width: 66%;
    display: inline-block;
    float: left; }
  aside.cruise-list {
    width: 34%;
    display: inline-block; } }

.ship-template-ship-landing-page {
  /* Fonts */ }
  .ship-template-ship-landing-page p, .ship-template-ship-landing-page a, .ship-template-ship-landing-page li, .ship-template-ship-landing-page .book-today-container h2 {
    font-family: Montserrat !important; }
  .ship-template-ship-landing-page .mk-fancy-title {
    padding-bottom: 10px !important; }
  .ship-template-ship-landing-page .featured-image, .ship-template-ship-landing-page .single-social-section, .ship-template-ship-landing-page #mk-page-introduce {
    display: none; }
  .ship-template-ship-landing-page .theme-page-wrapper, .ship-template-ship-landing-page .mk-single-content.clearfix {
    margin-top: 0px !important;
    margin-bottom: 0px !important; }
  .ship-template-ship-landing-page .theme-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  .ship-template-ship-landing-page .mk-single-content div.overflow-show {
    overflow: visible !important; }
  .ship-template-ship-landing-page .cruise-ship-info ul, .ship-template-ship-landing-page .cruise-ship-info li {
    margin-left: 0px !important; }
  .ship-template-ship-landing-page .cruise-ship-info ul {
    list-style: none; }
  .ship-template-ship-landing-page .cruise-ship-info li {
    border-bottom: 2px solid #E6E4DC;
    padding: 10px 0px;
    text-align: center; }
  .ship-template-ship-landing-page .request-info-button {
    color: #3E92CC !important;
    border: 2px solid #3E92CC;
    border-radius: 10px; }
  .ship-template-ship-landing-page .request-info-button a {
    color: #3E92CC !important; }
  .ship-template-ship-landing-page .background-gradient {
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 11%, #F5F3EB 73%);
    background-image: linear-gradient(0deg, #FFFFFF 11%, #F5F3EB 73%); }
  .ship-template-ship-landing-page .book-today-container .vc_column-inner {
    border-radius: 0px 0px 10px 10px;
    padding-top: 0px !important; }
  .ship-template-ship-landing-page .book-today-container a {
    color: #B62327 !important; }
  .ship-template-ship-landing-page .inner-card .vc_column-inner {
    box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.5), 0 10px 30px -10px rgba(0, 0, 0, 0.25); }
  @media screen and (min-width: 768px) {
    .ship-template-ship-landing-page .cruise-ship-info {
      -webkit-transform: translateY(-125px);
              transform: translateY(-125px); } }
  @media screen and (max-width: 767px) {
    .ship-template-ship-landing-page .featured-image, .ship-template-ship-landing-page #mk-page-introduce {
      display: block; }
    .ship-template-ship-landing-page #mk-page-introduce {
      padding-top: 0px !important;
      padding-bottom: 0px !important; }
    .ship-template-ship-landing-page #mk-breadcrumbs {
      display: none; }
    .ship-template-ship-landing-page #theme-page .theme-page-wrapper .theme-content {
      padding-top: 0px !important; } }

/*
* Forms
*/
input[type="text"] {
  font-size: 20px;
  font-weight: 300;
  border: 0;
  background: #f4f3eb;
  padding: 20px;
  border-radius: 5px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  input[type="text"]:focus {
    border: 0;
    background-color: #fbfbf8;
    box-shadow: inset 0 0 0 1px #e2dfca; }

.alert-bar {
  background: #b62327;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white; }

/*
* FOOTER
*/
/***--- overide layout ---***/
#mk-footer .mk-col-1-3:nth-child(1) ul {
  list-style: none;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 2; }
  #mk-footer .mk-col-1-3:nth-child(1) ul li a {
    font-family: Montserrat;
    line-height: 1; }

#mk-footer p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px; }
  #mk-footer p a {
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    color: #f4f3eb !important; }
    #mk-footer p a:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      color: #fff !important;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); }
  #mk-footer p a.footer-contact {
    max-width: 160px;
    background: #f4f3eb;
    color: #3e92cc !important;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: Montserrat-Medium;
    font-size: 18px !important;
    letter-spacing: -0.41px;
    padding: 14px 26px;
    border-radius: 6px;
    margin-top: 15px; }
    #mk-footer p a.footer-contact:hover {
      background: white;
      color: white;
      -webkit-transform: none;
              transform: none; }

p#newsletter-signup-text {
  margin-bottom: 0px; }

#mk-footer form.form-newsletter {
  margin: auto; }
  #mk-footer form.form-newsletter input[type="text"] {
    color: #f4f3eb;
    font-family: Montserrat !important;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    padding: 15px 20px !important; }
    #mk-footer form.form-newsletter input[type="text"]::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1c2555;
      opacity: 1;
      /* Firefox */ }
    #mk-footer form.form-newsletter input[type="text"]:-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1c2555;
      opacity: 1;
      /* Firefox */ }
    #mk-footer form.form-newsletter input[type="text"]::-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1c2555;
      opacity: 1;
      /* Firefox */ }
    #mk-footer form.form-newsletter input[type="text"]::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1c2555;
      opacity: 1;
      /* Firefox */ }
    #mk-footer form.form-newsletter input[type="text"]:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #1c2555; }
    #mk-footer form.form-newsletter input[type="text"]::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #1c2555; }
  #mk-footer form.form-newsletter .gform_body {
    clear: none;
    display: block;
    width: 50%; }
  #mk-footer form.form-newsletter .gform_footer {
    clear: none;
    display: block;
    margin: 11px 16px 0 0; }
  #mk-footer form.form-newsletter .cc-email input {
    width: 100%; }
  #mk-footer form.form-newsletter input[type="submit"] {
    border-radius: 10px;
    color: #F5F3EB;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: capitalize;
    padding: 19px 30px;
    width: auto !important; }
  @media screen and (min-width: 769px) {
    #mk-footer form.form-newsletter .gform_body, #mk-footer form.form-newsletter .gform_footer {
      float: left; }
    #mk-footer form.form-newsletter .gform_footer {
      width: 30%; }
    #mk-footer form.form-newsletter input[type="submit"] {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    #mk-footer form.form-newsletter .gform_body, #mk-footer form.form-newsletter .gform_footer {
      width: 100%; } }

.header-logo img {
  margin-left: -40px;
  max-width: 200px !important; }

.a-sticky .header-logo img {
  max-height: 70%;
  margin-top: 2px; }

.main-navigation-ul {
  margin-left: 352px; }

.side-dash-top-widgets {
  padding-left: 20px; }

#menu-side-menu li {
  border-top: none;
  border-bottom: none; }

#menu-side-menu a, #menu-side-menu a span {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 20px; }

.sidedash-navigation-ul li ul li a {
  line-height: 1; }

.mk-header-padding-wrapper {
  margin-bottom: 71px; }

#usarc-search {
  background: white;
  margin: auto auto 71px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  outline: 1px solid white; }
  #usarc-search #search-container {
    margin: auto;
    padding: 20px 4%;
    left: 0;
    top: 0;
    right: 0;
    margin-top: -1px;
    position: absolute;
    width: 100vw;
    background: white; }
    @media screen and (min-width: 1001px) {
      #usarc-search #search-container {
        border-bottom: 1px solid #C2C4D1; } }
    @media screen and (min-width: 1691px) {
      #usarc-search #search-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; }
        #usarc-search #search-container .cruise-finder-title {
          margin-right: 20px; }
        #usarc-search #search-container:before {
          position: absolute;
          content: '';
          box-sizing: content-box;
          z-index: -1;
          background: white;
          height: 100%;
          width: 100vw; }
        #usarc-search #search-container .toggle-arrow {
          display: none; }
        #usarc-search #search-container .cruise-finder-fields {
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
                  justify-content: flex-end;
          -webkit-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
                  align-items: center; }
          #usarc-search #search-container .cruise-finder-fields select {
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
                    flex: 0 1 auto;
            max-width: 220px; }
          #usarc-search #search-container .cruise-finder-fields input[type="submit"] {
            margin-left: 25px; } }
  #usarc-search #cruise-finder-checkbox {
    display: none; }
  #usarc-search * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; }
  #usarc-search .cruise-finder-title {
    color: #b62327;
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 500; }
  #usarc-search .cruise-finder-fields {
    padding: 5px; }
    #usarc-search .cruise-finder-fields select {
      border-radius: 10px;
      border: 2px solid #1c2555;
      font-size: 14px;
      padding: .36em 40px .36em 15px;
      margin: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(/wp-content/uploads/select-down.svg) 90%/12px no-repeat #fff; }
    #usarc-search .cruise-finder-fields input[type="submit"] {
      color: white;
      font-weight: 500;
      font-size: 16px;
      padding: .625em .75em;
      border-radius: 5px;
      letter-spacing: -0.55px;
      background: #b62327;
      text-transform: uppercase;
      border: none;
      outline: none;
      font-family: 'Zilla Slab', serif; }
      #usarc-search .cruise-finder-fields input[type="submit"]:hover {
        background: #3e92cc; }
  @media screen and (max-width: 1690px) {
    #usarc-search .cruise-finder-title {
      margin: auto;
      text-align: center; }
      #usarc-search .cruise-finder-title:after {
        display: none; }
      #usarc-search .cruise-finder-title, #usarc-search .cruise-finder-title label {
        cursor: pointer;
        display: block; }
    #usarc-search .cruise-finder-fields {
      margin: auto !important;
      display: none; }
    #usarc-search .toggle-arrow {
      display: inline-block;
      width: 12px; }
    #usarc-search input[type="submit"] {
      margin: 10px 0px; }
    #usarc-search select option {
      text-align: center !important; }
    #usarc-search .cruise-finder-fields {
      margin: auto !important;
      display: none;
      text-align: center; }
    #usarc-search #cruise-finder-checkbox:checked ~ .cruise-finder-fields {
      display: block !important; }
    #usarc-search select, #usarc-search input[type="submit"] {
      width: 83.8%;
      max-width: 480px;
      display: block;
      margin: 5px auto !important; } }

/* CRUISE ARCHIVE */
section#cruise-archive {
  width: 100%;
  background: #f4f3eb;
  margin: auto; }
  section#cruise-archive * {
    box-sizing: border-box; }
  section#cruise-archive.display-posts-cards {
    background: none !important; }
  section#cruise-archive .cruise-archive-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 10px;
    display: block;
    position: static; }
  section#cruise-archive .grid-container {
    width: 100%;
    max-width: 1200px; }
    section#cruise-archive .grid-container:before, section#cruise-archive .grid-container:after {
      content: "";
      display: table;
      clear: both; }
  section#cruise-archive .cruise-card {
    background: white;
    float: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 42px; }
    section#cruise-archive .cruise-card img {
      width: 100%;
      max-width: 100%; }
    section#cruise-archive .cruise-card .cruise-header-image-container {
      position: relative; }
      section#cruise-archive .cruise-card .cruise-header-image-container .cruise-header-image {
        width: 100%;
        height: 0px;
        padding-top: 63%;
        background-color: #454756;
        background-position: center;
        background-size: cover;
        -webkit-transition: linear 0.1s;
        transition: linear 0.1s;
        display: block; }
        section#cruise-archive .cruise-card .cruise-header-image-container .cruise-header-image:hover {
          -webkit-transform: scale(1.02);
                  transform: scale(1.02);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px); }
    section#cruise-archive .cruise-card .cruise-card-content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      padding: 20px; }
    section#cruise-archive .cruise-card h2 {
      color: #3e92cc;
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      font-size: 30px;
      letter-spacing: -.5px;
      font-family: 'Zilla Slab', serif; }
    section#cruise-archive .cruise-card p, section#cruise-archive .cruise-card li {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      letter-spacing: -0.45px;
      line-height: 22px; }
    section#cruise-archive .cruise-card .cruise-details {
      list-style: none;
      margin-left: 0px; }
      section#cruise-archive .cruise-card .cruise-details li {
        margin-left: 0px;
        margin-top: 8px;
        padding-bottom: 8px;
        background-repeat: no-repeat;
        background-size: 25px auto;
        line-height: 30px;
        padding-left: 37px;
        vertical-align: middle;
        letter-spacing: -0.24px; }
        section#cruise-archive .cruise-card .cruise-details li span {
          vertical-align: middle;
          font-size: 16px;
          display: block;
          line-height: 19px;
          position: relative; }
        section#cruise-archive .cruise-card .cruise-details li img {
          display: inline;
          max-width: 25px;
          vertical-align: middle; }
    section#cruise-archive .cruise-card a.cruise-select {
      font-size: 18px;
      font-weight: 400;
      color: #3e92cc;
      line-height: 22px;
      letter-spacing: -.41px;
      border: 2px solid #3e92cc;
      border-radius: 10px;
      padding: 10px 30px;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear;
      margin: 0px 20px 20px; }
      section#cruise-archive .cruise-card a.cruise-select:hover {
        background: #3e92cc;
        color: white; }
    section#cruise-archive .cruise-card .sale-text {
      color: #b62327; }
    section#cruise-archive .cruise-card .book-now {
      background: #b62327;
      border: none !important;
      color: white !important; }
  @media screen and (min-width: 769px) and (max-width: 924px) {
    section#cruise-archive .vc_col-sm-3 {
      width: 50%; } }

#search-icons {
  font-family: "Montserrat", sans-serif !important;
  text-align: center; }
  #search-icons input[type="radio"] {
    display: none; }
  #search-icons .input-container {
    display: inline-block;
    width: 32%;
    vertical-align: top; }
  #search-icons .icon-container {
    padding: 13px 0px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #1c2555;
    width: 100%;
    border-radius: 10px;
    cursor: pointer; }
    #search-icons .icon-container .icon-label {
      line-height: 1.6em; }
  #search-icons .icon-container:hover, #search-icons input[type="radio"]:checked + label {
    background: #ffffff; }
    #search-icons .icon-container:hover svg path, #search-icons input[type="radio"]:checked + label svg path {
      fill: #b62327; }
    #search-icons .icon-container:hover span, #search-icons input[type="radio"]:checked + label span {
      color: #b62327;
      pointer: cursor; }
  #search-icons img {
    display: block;
    margin: auto; }
  #search-icons svg {
    display: block;
    margin: auto; }
  #search-icons .dropdown-container {
    margin: 25px 0px;
    text-align: center; }
    #search-icons .dropdown-container select, #search-icons .dropdown-container #monthpicker {
      display: inline-block;
      border-radius: 5px !important;
      background-color: #fff;
      border: none;
      font-size: 20px;
      font-weight: 300;
      color: #9B9B9B;
      height: 48px; }
      #search-icons .dropdown-container select option, #search-icons .dropdown-container #monthpicker option {
        color: #1c2555 !important; }
        #search-icons .dropdown-container select option:first-child, #search-icons .dropdown-container #monthpicker option:first-child {
          color: #9B9B9B !important; }
    #search-icons .dropdown-container #monthpicker {
      padding: 11px 12px 13px 16px;
      color: black; }
    #search-icons .dropdown-container input[type="submit"] {
      color: white;
      border: none;
      border-radius: 10px;
      background: #b62327;
      margin: 24px 0px;
      font-weight: 400;
      padding: 18px 0px;
      width: 100%;
      max-width: 222px;
      font-size: 20px; }
  #search-icons select, #search-icons #monthpicker {
    width: 50%;
    max-width: 213px !important;
    margin: 8px 0px;
    line-height: normal !important; }
  @media screen and (max-width: 768px) {
    #search-icons select, #search-icons #monthpicker {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    #search-icons .icon-label {
      font-size: 12px; } }

#MonthPicker_monthpicker {
  font-size: 16px; }
  #MonthPicker_monthpicker .ui-state-default, #MonthPicker_monthpicker .ui-widget-content .ui-state-default {
    width: auto; }
  #MonthPicker_monthpicker .month-picker-month-table {
    margin-bottom: 0px; }

/* do not group these rules */
#monthpicker::-webkit-input-placeholder {
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker:-moz-placeholder {
  /* FF 4-18 */
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker::-moz-placeholder {
  /* FF 19+ */
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker:-ms-input-placeholder {
  /* IE 10+ */
  color: #9B9B9B !important;
  opacity: 1 !important; }
/*# sourceMappingURL=style.css.map */