/*
* ADMIN STYLESHEET
*/


/***--- HIDE UPGRADE INFO ---***/

#footer-upgrade {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


/***--- VISUAL COMPOSER NOTICE ---***/

#vc_license-activation-notice {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


/***--- MENU SEPARATOR ---***/

#adminmenu li.wp-menu-separator {
    height: 1px;
    padding: 0;
    margin: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}


/***--- Hidden Email VC Image ---***/

.wpb-layout-element-button[data-element=obfuscate_email] .vc_element-icon {
    background-image: url(images/obfuscate-icon.png);
    background-size: 32px;
    background-position: center;
}

.wpb-layout-element-button[data-element=vc_acf] .vc_element-icon {
    background-image: url(images/acf-icon.png);
    background-size: 32px;
    background-position: center;
}


/***--- ACF ---***/


/***--- SINGLE CRUISE ---***/


/**-- dates --**/

.acf-field-group .acf-field-text {
    clear: none !important;
    float: left;
    width: 50%;
}

#acf-group_59f10bcc7ddf1 .acf-field-number {
    clear: none !important;
    float: left;
    width: 33%;
}


/**-- itinerary --**/

.acf-field-59f0c442b2bd0 {
    clear: none !important;
    float: left;
    width: 20%;
}

.acf-field-59f0c6af758e1 {
    clear: none !important;
    float: left;
    width: 30%;
}

.acf-field-59f0c524b2bd1 {
    clear: none !important;
    float: left;
    width: 50%
}

#wpcontent .simplePanelImagePreview img{max-width:100%}