/*!
Theme Name:     USA River Cruises
Description:    Child theme for USA River Cruises
Author:         Webfor
Author URI:     https://webfor.com
Template:       jupiter
*/
/*
* HELPERS
*/
/*
* BUTTONS
*/
.mk-button--size-small {
  padding: 14px 36px;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--size-large {
  padding: 20px 48px;
  font-size: 22px;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--corner-rounded,
.mk-button--corner-rounded .double-outline-inside {
  border-radius: 10px; }

.ml-responsive-table {
  margin-bottom: 15px; }
  .ml-responsive-table .ml-grid {
    border-bottom: 1px dashed #3e92cc; }
  .ml-responsive-table dl:nth-of-type(odd) {
    background: white; }

@media screen and (min-width: 1025px) {
  .sfm-navicon-button, .sfm-rollback {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .sfm-navicon-button {
    display: inline-block; }
  #sfm-sidebar {
    z-index: 10000000000 !important; } }

@media handheld, only screen and (max-width: 1024px) {
  .mk-dashboard-trigger, .header-style-1 .mk-nav-responsive-link {
    display: none !important; } }

/*
* GENERAL LAYOUT STYLES
*/
/***--- TYPOGRAPHY ---***/
h1.page-title {
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.55px; }

.mk-fancy-title, .wpb_raw_html {
  margin-bottom: 0; }

.card {
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.5), 0 10px 30px -10px rgba(0, 0, 0, 0.25); }

.mk-single-employee.layout-style1 .employees-featured-image img {
  border-radius: 0px !important; }

.right-header {
  float: right;
  line-height: 5.5;
  font-weight: bold;
  color: white;
  font-size: 22px; }

.a-sticky .right-header {
  line-height: 3.5; }

.side-dash-top-widgets {
  padding-bottom: 0px; }

#sidebar-cruise-search-form input[type="submit"] {
  visibility: hidden; }

img.sidebar-search-icon {
  max-width: 18px;
  float: left;
  padding: 4px 4px 0px 0px; }

#sidebar-cruise-search {
  background: none;
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid white;
  padding: 0px 0px 4px;
  color: white;
  font-size: 18px; }
  #sidebar-cruise-search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white; }
  #sidebar-cruise-search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white; }

@media screen and (max-width: 1024px) {
  .mk-css-icon-menu div {
    background-color: #1c2555 !important; }
  .phone-header {
    color: #1c2555; } }

/*
* HOMEPAGE
*/
#home-hero h2 {
  max-width: 425px; }
  @media (max-width: 768px) {
    #home-hero h2 {
      display: none; } }

#home-hero .mk-skip-to-next[data-skin=light] {
  border: 0; }

#home-hero .home-search {
  padding: 40px 40px 0px;
  background-image: linear-gradient(-180deg, #FFFFFF 25%, rgba(255, 255, 255, 0.8) 100%);
  border-radius: 20px; }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li a {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s ease-out; }
    #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li a:hover {
      background: rgba(255, 255, 255, 0.25); }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-tabs li.is-active a {
    background: rgba(255, 255, 255, 0.66); }
  #home-hero .home-search .mk-tabs.default-style .mk-tabs-panes {
    background: transparent;
    border-color: transparent; }

#home-destinations .mk-image .mk-image-inner {
  transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1); }
  #home-destinations .mk-image .mk-image-inner:hover {
    transform: translateY(-10px); }

#home-content .home-content-text .mk-fancy-title, #home-content .home-content-text .mk-text-block {
  max-width: 550px; }

#home-content .vc_images_carousel {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 60px -20px rgba(0, 0, 0, 0.35), 0 10px 30px -20px rgba(0, 0, 0, 0.2); }
  #home-content .vc_images_carousel ol.vc_carousel-indicators {
    bottom: 10px; }
  #home-content .vc_images_carousel .vc_carousel-indicators li {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px; }
    #home-content .vc_images_carousel .vc_carousel-indicators li.vc_active {
      background-color: rgba(255, 255, 255, 0.8); }

#home-cta h3 {
  letter-spacing: -0.5px; }

#home-cta p {
  font-style: italic;
  font-size: 1.33em; }

#home-cta a {
  font-weight: 800;
  display: inline-block;
  border-bottom: 2px solid #3e92cc;
  line-height: 1em; }

/* CRUISE ARCHIVE w/ DESTINATION STYLING */
#destination-taxonomy, #cruise-search-results {
  background: #f4f3eb; }
  #destination-taxonomy *, #cruise-search-results * {
    box-sizing: border-box; }
  #destination-taxonomy h1, #cruise-search-results h1 {
    color: #1c2555;
    font-size: 50px;
    letter-spacing: -0.55px; }
  #destination-taxonomy .description, #cruise-search-results .description {
    max-width: 735px; }
  #destination-taxonomy p, #cruise-search-results p {
    font-size: 18px;
    color: #1c2555;
    letter-spacing: -0.2px;
    padding: 0px; }
  #destination-taxonomy .archive-header-container, #cruise-search-results .archive-header-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  #destination-taxonomy .overlay, #cruise-search-results .overlay {
    background: rgba(245, 243, 235, 0.77); }
  #destination-taxonomy .cruise-archive-content, #cruise-search-results .cruise-archive-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 10px;
    display: block;
    position: static; }
  #destination-taxonomy .grid-container, #cruise-search-results .grid-container {
    width: 100%;
    max-width: 1200px; }
    #destination-taxonomy .grid-container:before, #destination-taxonomy .grid-container:after, #cruise-search-results .grid-container:before, #cruise-search-results .grid-container:after {
      content: "";
      display: table;
      clear: both; }
  #destination-taxonomy .cruise-card, #cruise-search-results .cruise-card {
    background: white;
    float: left;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 42px; }
    #destination-taxonomy .cruise-card img, #cruise-search-results .cruise-card img {
      width: 100%;
      max-width: 100%; }
    #destination-taxonomy .cruise-card .cruise-header-image-container, #cruise-search-results .cruise-card .cruise-header-image-container {
      position: relative; }
      #destination-taxonomy .cruise-card .cruise-header-image-container .cruise-header-image, #cruise-search-results .cruise-card .cruise-header-image-container .cruise-header-image {
        width: 100%;
        height: 0px;
        padding-top: 63%;
        background-color: #454756;
        background-position: center;
        background-size: cover;
        transition: linear 0.1s;
        display: block; }
        #destination-taxonomy .cruise-card .cruise-header-image-container .cruise-header-image:hover, #cruise-search-results .cruise-card .cruise-header-image-container .cruise-header-image:hover {
          transform: scale(1.02);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px); }
    #destination-taxonomy .cruise-card .cruise-card-content, #cruise-search-results .cruise-card .cruise-card-content {
      padding: 20px;
      hyphens: auto; }
    #destination-taxonomy .cruise-card h2, #cruise-search-results .cruise-card h2 {
      color: #3e92cc;
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      font-size: 30px;
      letter-spacing: -.5px; }
    #destination-taxonomy .cruise-card p, #destination-taxonomy .cruise-card li, #cruise-search-results .cruise-card p, #cruise-search-results .cruise-card li {
      font-family: 'Montserrat', sans-serif;
      font-family: 18px;
      letter-spacing: -0.45px;
      line-height: 22px; }
    #destination-taxonomy .cruise-card .cruise-details, #cruise-search-results .cruise-card .cruise-details {
      list-style: none;
      margin-left: 0px; }
      #destination-taxonomy .cruise-card .cruise-details li, #cruise-search-results .cruise-card .cruise-details li {
        margin-left: 0px;
        margin-top: 8px;
        padding-bottom: 8px;
        background-repeat: no-repeat;
        background-size: 25px auto;
        line-height: 30px;
        vertical-align: middle;
        letter-spacing: -0.24px; }
        #destination-taxonomy .cruise-card .cruise-details li span, #cruise-search-results .cruise-card .cruise-details li span {
          vertical-align: middle;
          font-size: 16px;
          display: inline-block;
          line-height: 19px;
          position: relative; }
        #destination-taxonomy .cruise-card .cruise-details li img, #cruise-search-results .cruise-card .cruise-details li img {
          display: inline;
          max-width: 25px;
          vertical-align: middle; }
    #destination-taxonomy .cruise-card a.cruise-select, #cruise-search-results .cruise-card a.cruise-select {
      font-size: 18px;
      font-weight: 400;
      color: #3e92cc;
      line-height: 22px;
      letter-spacing: -.41px;
      border: 2px solid #3e92cc;
      border-radius: 10px;
      padding: 10px 30px;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      margin: 0px 20px 20px; }
      #destination-taxonomy .cruise-card a.cruise-select:hover, #cruise-search-results .cruise-card a.cruise-select:hover {
        background: #3e92cc;
        color: white; }
    #destination-taxonomy .cruise-card .sale-text, #cruise-search-results .cruise-card .sale-text {
      color: #b62327; }

#destination-taxonomy .mk-toggle-title {
  padding-left: 0px !important;
  font-size: 1em !important;
  color: #1c2555 !important;
  text-decoration: underline; }

#destination-taxonomy .mk-toggle-pane {
  padding: 0px !important;
  background: none !important; }

.mk-blog-newspaper-item .blog-item-holder {
  border-radius: 10px; }
  .mk-blog-newspaper-item .blog-item-holder .newspaper-item-footer {
    border-radius: 0px 0px 10px;
    background: #f4f3eb; }
  .mk-blog-newspaper-item .blog-item-holder .mk-readmore {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    color: #3e92cc;
    transition: linear 0.2s;
    border: 2px solid #3e92cc;
    border-radius: 10px; }
    .mk-blog-newspaper-item .blog-item-holder .mk-readmore:hover {
      color: white !important;
      background: #3e92cc; }

#destinations-loop {
  background: #f4f3eb; }
  #destinations-loop * {
    box-sizing: border-box; }
  #destinations-loop .header-container {
    padding: 70px 0px;
    margin: auto;
    background-position: center center;
    background-size: cover; }
    #destinations-loop .header-container h1 {
      text-align: center;
      color: white;
      font-weight: bold;
      font-style: italic;
      font-size: 50px;
      letter-spacing: -0.55px; }
  #destinations-loop .destinations-container {
    max-width: 1200px;
    padding: 40px 0px;
    margin: auto; }
    #destinations-loop .destinations-container:before, #destinations-loop .destinations-container:after {
      content: "";
      display: table;
      clear: both; }
  #destinations-loop .destination-card {
    height: 257px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center; }
    #destinations-loop .destination-card a {
      padding: 0px 40px;
      color: white;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      font-size: 36px;
      letter-spacing: -0.5px;
      line-height: 36px;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(29, 37, 86, 0.2);
      border-radius: 10px; }
  #destinations-loop .vc_col-sm-3 {
    margin: 10px 0px; }

aside.cruise-list, article.sidebar-page {
  box-sizing: border-box; }

aside.cruise-list {
  padding: 0em 1.6em; }
  aside.cruise-list .card {
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 0px 20px; }
    aside.cruise-list .card h3 {
      color: white;
      padding: 10px 20px;
      background: #3e92cc;
      margin: 0px -20px 10px; }

@media screen and (min-width: 769px) {
  article.sidebar-page {
    width: 66%;
    display: inline-block;
    float: left; }
  aside.cruise-list {
    width: 34%;
    display: inline-block; } }

.ship-template-ship-landing-page {
  /* Fonts */ }
  .ship-template-ship-landing-page p, .ship-template-ship-landing-page a, .ship-template-ship-landing-page li, .ship-template-ship-landing-page .book-today-container h2 {
    font-family: Montserrat !important; }
  .ship-template-ship-landing-page .mk-fancy-title {
    padding-bottom: 10px !important; }
  .ship-template-ship-landing-page .featured-image, .ship-template-ship-landing-page .single-social-section, .ship-template-ship-landing-page #mk-page-introduce {
    display: none; }
  .ship-template-ship-landing-page .theme-page-wrapper, .ship-template-ship-landing-page .mk-single-content.clearfix {
    margin-top: 0px !important;
    margin-bottom: 0px !important; }
  .ship-template-ship-landing-page .theme-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  .ship-template-ship-landing-page .mk-single-content div.overflow-show {
    overflow: visible !important; }
  .ship-template-ship-landing-page .cruise-ship-info ul, .ship-template-ship-landing-page .cruise-ship-info li {
    margin-left: 0px !important; }
  .ship-template-ship-landing-page .cruise-ship-info ul {
    list-style: none; }
  .ship-template-ship-landing-page .cruise-ship-info li {
    border-bottom: 2px solid #E6E4DC;
    padding: 10px 0px;
    text-align: center; }
  .ship-template-ship-landing-page .request-info-button {
    color: #3E92CC !important;
    border: 2px solid #3E92CC;
    border-radius: 10px; }
  .ship-template-ship-landing-page .request-info-button a {
    color: #3E92CC !important; }
  .ship-template-ship-landing-page .background-gradient {
    background-image: linear-gradient(0deg, #FFFFFF 11%, #F5F3EB 73%); }
  .ship-template-ship-landing-page .book-today-container .vc_column-inner {
    border-radius: 0px 0px 10px 10px;
    padding-top: 0px !important; }
  .ship-template-ship-landing-page .book-today-container a {
    color: #B62327 !important; }
  .ship-template-ship-landing-page .inner-card .vc_column-inner {
    box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.5), 0 10px 30px -10px rgba(0, 0, 0, 0.25); }
  @media screen and (min-width: 768px) {
    .ship-template-ship-landing-page .cruise-ship-info {
      transform: translateY(-125px); } }
  @media screen and (max-width: 767px) {
    .ship-template-ship-landing-page .featured-image, .ship-template-ship-landing-page #mk-page-introduce {
      display: block; }
    .ship-template-ship-landing-page #mk-page-introduce {
      padding-top: 0px !important;
      padding-bottom: 0px !important; }
    .ship-template-ship-landing-page #mk-breadcrumbs {
      display: none; }
    .ship-template-ship-landing-page #theme-page .theme-page-wrapper .theme-content {
      padding-top: 0px !important; } }

/*
* Forms
*/
input[type="text"] {
  font-size: 20px;
  font-weight: 300;
  border: 0;
  background: #f4f3eb;
  padding: 20px;
  border-radius: 5px;
  transition: all .3s ease-out; }
  input[type="text"]:focus {
    border: 0;
    background-color: #fbfbf8;
    box-shadow: inset 0 0 0 1px #e2dfca; }

.alert-bar {
  background: #b62327;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white; }

/*
* FOOTER
*/
/***--- overide layout ---***/
#mk-footer .mk-col-1-3:nth-child(1) ul {
  list-style: none;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2; }
  #mk-footer .mk-col-1-3:nth-child(1) ul li a {
    font-family: Montserrat;
    line-height: 1; }

#mk-footer p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px; }
  #mk-footer p a {
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    color: #f4f3eb !important; }
    #mk-footer p a:hover {
      transform: scale(1.1);
      color: #fff !important;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); }
  #mk-footer p a.footer-contact {
    max-width: 160px;
    background: #f4f3eb;
    color: #3e92cc !important;
    display: inline-block;
    transition: 0.3s;
    font-family: Montserrat-Medium;
    font-size: 18px !important;
    letter-spacing: -0.41px;
    padding: 14px 26px;
    border-radius: 6px;
    margin-top: 15px; }
    #mk-footer p a.footer-contact:hover {
      background: white;
      color: white;
      transform: none; }

p#newsletter-signup-text {
  margin-bottom: 0px; }

#mk-footer form.form-newsletter {
  margin: auto; }
  #mk-footer form.form-newsletter input[type="text"] {
    color: #f4f3eb;
    font-family: Montserrat !important;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    padding: 15px 20px !important; }
    #mk-footer form.form-newsletter input[type="text"]::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1c2555;
      opacity: 1;
      /* Firefox */ }
    #mk-footer form.form-newsletter input[type="text"]:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #1c2555; }
    #mk-footer form.form-newsletter input[type="text"]::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #1c2555; }
  #mk-footer form.form-newsletter .gform_body {
    clear: none;
    display: block;
    width: 50%; }
  #mk-footer form.form-newsletter .gform_footer {
    clear: none;
    display: block;
    margin: 11px 16px 0 0; }
  #mk-footer form.form-newsletter .cc-email input {
    width: 100%; }
  #mk-footer form.form-newsletter input[type="submit"] {
    border-radius: 10px;
    color: #F5F3EB;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: capitalize;
    padding: 19px 30px;
    width: auto !important; }
  @media screen and (min-width: 769px) {
    #mk-footer form.form-newsletter .gform_body, #mk-footer form.form-newsletter .gform_footer {
      float: left; }
    #mk-footer form.form-newsletter .gform_footer {
      width: 30%; }
    #mk-footer form.form-newsletter input[type="submit"] {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    #mk-footer form.form-newsletter .gform_body, #mk-footer form.form-newsletter .gform_footer {
      width: 100%; } }

.header-logo img {
  margin-left: -40px;
  max-width: 200px !important; }

.a-sticky .header-logo img {
  max-height: 70%;
  margin-top: 2px; }

.main-navigation-ul {
  margin-left: 120px; }

.side-dash-top-widgets {
  padding-left: 20px; }

#menu-side-menu li {
  border-top: none;
  border-bottom: none; }

#menu-side-menu a, #menu-side-menu a span {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 20px; }

.sidedash-navigation-ul li ul li a {
  line-height: 1; }

#usarc-search {
  background: white;
  border-bottom: 1px solid #3e92cc;
  outline: 1px solid white;
  width: 100%; }
  #usarc-search #cruise-finder-checkbox {
    display: none; }
  #usarc-search * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; }
  #usarc-search .cruise-finder-title {
    background: #3e92cc;
    color: white;
    text-align: right;
    width: 25%;
    padding: 15px 64px 15px 0px;
    position: relative;
    display: inline-block; }
    #usarc-search .cruise-finder-title:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      left: 100%;
      top: 0;
      border: 30px solid transparent;
      border-left: 30px solid #3e92cc; }
  #usarc-search .white-arrow {
    max-width: 12px;
    position: absolute;
    margin-top: 12px;
    display: none; }
  #usarc-search .cruise-finder-fields {
    margin-left: 35px;
    padding: 5px;
    display: inline-block;
    text-align: center; }
    #usarc-search .cruise-finder-fields select {
      border-radius: 10px;
      border: 2px solid #1c2555;
      font-size: 14px;
      padding: 5px 40px 5px 12px;
      margin: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(/wp-content/uploads/select-down.svg) 90%/12px no-repeat #fff; }
    #usarc-search .cruise-finder-fields input[type="submit"] {
      color: white;
      font-weight: 500;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 10px;
      letter-spacing: -0.55px;
      background: #ffad42;
      text-transform: uppercase;
      border: none;
      outline: none; }
  @media screen and (min-width: 1681px) {
    #usarc-search .cruise-finder-fields {
      position: absolute; } }
  @media screen and (max-width: 1680px) {
    #usarc-search .cruise-finder-fields {
      display: block; } }
  @media screen and (max-width: 1670px) {
    #usarc-search .cruise-finder-fields {
      margin-left: 0px; } }
  @media screen and (max-width: 1087px) {
    #usarc-search .cruise-finder-title {
      width: 100%;
      padding-right: 15px;
      text-align: center; }
      #usarc-search .cruise-finder-title:after {
        display: none; }
      #usarc-search .cruise-finder-title, #usarc-search .cruise-finder-title label {
        cursor: pointer;
        display: block; }
      #usarc-search .cruise-finder-title label {
        margin: -15px 0px;
        padding: 15px; }
    #usarc-search .cruise-finder-fields {
      margin: auto !important;
      display: none; }
    #usarc-search .white-arrow {
      display: inline-block; } }
  @media screen and (max-width: 1087px) {
    #usarc-search input[type="submit"] {
      margin: 10px 0px; }
    #usarc-search select {
      width: 30%; }
      #usarc-search select option {
        text-align: center !important; }
    #usarc-search .cruise-finder-fields {
      margin: auto !important;
      display: none; }
    #usarc-search #cruise-finder-checkbox:checked ~ .cruise-finder-fields {
      display: block !important; } }
  @media screen and (max-width: 724px) {
    #usarc-search select {
      width: 40%; } }
  @media screen and (max-width: 554px) {
    #usarc-search select, #usarc-search input[type="submit"] {
      width: 83.8%; } }

/* CRUISE ARCHIVE */
section#cruise-archive {
  width: 100%;
  background: #f4f3eb;
  margin: auto; }
  section#cruise-archive * {
    box-sizing: border-box; }
  section#cruise-archive.display-posts-cards {
    background: none !important; }
  section#cruise-archive .cruise-archive-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 10px;
    display: block;
    position: static; }
  section#cruise-archive .grid-container {
    width: 100%;
    max-width: 1200px; }
    section#cruise-archive .grid-container:before, section#cruise-archive .grid-container:after {
      content: "";
      display: table;
      clear: both; }
  section#cruise-archive .cruise-card {
    background: white;
    float: left;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 42px; }
    section#cruise-archive .cruise-card img {
      width: 100%;
      max-width: 100%; }
    section#cruise-archive .cruise-card .cruise-header-image-container {
      position: relative; }
      section#cruise-archive .cruise-card .cruise-header-image-container .cruise-header-image {
        width: 100%;
        height: 0px;
        padding-top: 63%;
        background-color: #454756;
        background-position: center;
        background-size: cover;
        transition: linear 0.1s;
        display: block; }
        section#cruise-archive .cruise-card .cruise-header-image-container .cruise-header-image:hover {
          transform: scale(1.02);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px); }
    section#cruise-archive .cruise-card .cruise-card-content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 20px; }
    section#cruise-archive .cruise-card h2 {
      color: #3e92cc;
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      font-size: 30px;
      letter-spacing: -.5px;
      font-family: 'Zilla Slab', serif; }
    section#cruise-archive .cruise-card p, section#cruise-archive .cruise-card li {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      letter-spacing: -0.45px;
      line-height: 22px; }
    section#cruise-archive .cruise-card .cruise-details {
      list-style: none;
      margin-left: 0px; }
      section#cruise-archive .cruise-card .cruise-details li {
        margin-left: 0px;
        margin-top: 8px;
        padding-bottom: 8px;
        background-repeat: no-repeat;
        background-size: 25px auto;
        line-height: 30px;
        padding-left: 37px;
        vertical-align: middle;
        letter-spacing: -0.24px; }
        section#cruise-archive .cruise-card .cruise-details li span {
          vertical-align: middle;
          font-size: 16px;
          display: block;
          line-height: 19px;
          position: relative; }
        section#cruise-archive .cruise-card .cruise-details li img {
          display: inline;
          max-width: 25px;
          vertical-align: middle; }
    section#cruise-archive .cruise-card a.cruise-select {
      font-size: 18px;
      font-weight: 400;
      color: #3e92cc;
      line-height: 22px;
      letter-spacing: -.41px;
      border: 2px solid #3e92cc;
      border-radius: 10px;
      padding: 10px 30px;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      margin: 0px 20px 20px; }
      section#cruise-archive .cruise-card a.cruise-select:hover {
        background: #3e92cc;
        color: white; }
    section#cruise-archive .cruise-card .sale-text {
      color: #b62327; }
    section#cruise-archive .cruise-card .book-now {
      background: #b62327;
      border: none !important;
      color: white !important; }
  @media screen and (min-width: 769px) and (max-width: 924px) {
    section#cruise-archive .vc_col-sm-3 {
      width: 50%; } }

#search-icons {
  font-family: "Montserrat", sans-serif !important;
  text-align: center; }
  #search-icons input[type="radio"] {
    display: none; }
  #search-icons .input-container {
    display: inline-block;
    width: 32%;
    vertical-align: top; }
  #search-icons .icon-container {
    padding: 13px 0px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #1c2555;
    width: 100%;
    border-radius: 10px;
    cursor: pointer; }
    #search-icons .icon-container .icon-label {
      line-height: 1.6em; }
  #search-icons .icon-container:hover, #search-icons input[type="radio"]:checked + label {
    background: #ffffff; }
    #search-icons .icon-container:hover svg path, #search-icons input[type="radio"]:checked + label svg path {
      fill: #b62327; }
    #search-icons .icon-container:hover span, #search-icons input[type="radio"]:checked + label span {
      color: #b62327;
      pointer: cursor; }
  #search-icons img {
    display: block;
    margin: auto; }
  #search-icons svg {
    display: block;
    margin: auto; }
  #search-icons .dropdown-container {
    margin: 25px 0px;
    text-align: center; }
    #search-icons .dropdown-container select, #search-icons .dropdown-container #monthpicker {
      display: inline-block;
      border-radius: 5px !important;
      background-color: #fff;
      border: none;
      font-size: 20px;
      font-weight: 300;
      color: #9B9B9B;
      height: 48px; }
      #search-icons .dropdown-container select option, #search-icons .dropdown-container #monthpicker option {
        color: #1c2555 !important; }
        #search-icons .dropdown-container select option:first-child, #search-icons .dropdown-container #monthpicker option:first-child {
          color: #9B9B9B !important; }
    #search-icons .dropdown-container #monthpicker {
      padding: 11px 12px 13px 16px;
      color: black; }
    #search-icons .dropdown-container input[type="submit"] {
      color: white;
      border: none;
      border-radius: 10px;
      background: #b62327;
      margin: 24px 0px;
      font-weight: 400;
      padding: 18px 0px;
      width: 100%;
      max-width: 222px;
      font-size: 20px; }
  #search-icons select, #search-icons #monthpicker {
    width: 50%;
    max-width: 213px !important;
    margin: 8px 0px;
    line-height: normal !important; }
  @media screen and (max-width: 768px) {
    #search-icons select, #search-icons #monthpicker {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    #search-icons .icon-label {
      font-size: 12px; } }

#MonthPicker_monthpicker {
  font-size: 16px; }
  #MonthPicker_monthpicker .ui-state-default, #MonthPicker_monthpicker .ui-widget-content .ui-state-default {
    width: auto; }
  #MonthPicker_monthpicker .month-picker-month-table {
    margin-bottom: 0px; }

/* do not group these rules */
#monthpicker::-webkit-input-placeholder {
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker:-moz-placeholder {
  /* FF 4-18 */
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker::-moz-placeholder {
  /* FF 19+ */
  color: #9B9B9B !important;
  opacity: 1 !important; }

#monthpicker:-ms-input-placeholder {
  /* IE 10+ */
  color: #9B9B9B !important;
  opacity: 1 !important; }
