/*
* HELPERS
*/
/*
* BUTTONS
*/
.mk-button--size-small {
  padding: 14px 36px;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--size-large {
  padding: 20px 48px;
  font-size: 22px;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-weight: 500; }

.mk-button--corner-rounded,
.mk-button--corner-rounded .double-outline-inside {
  border-radius: 10px; }

#request-info {
  font-size: 20px;
  line-height: 1.2em;
  padding: 20px; }

.mobile-button .mk-button {
  font-size: 27px !important;
  padding: 13px 25px !important; }

/*
* GENERAL LAYOUT STYLES
*/
@media screen and (min-width: 768px) {
  .wf-vertical-align {
    display: flex;
    align-items: center; } }

/***--- TYPOGRAPHY ---***/
h1.page-title {
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  letter-spacing: -0.55px;
  margin: 15px 20px 15px; }

.mk-fancy-title, .wpb_raw_html {
  margin-bottom: 0; }

.montserrat, .montserrat * {
  font-family: "Montserrat", sans-serif !important; }

.card {
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.5), 0 10px 30px -10px rgba(0, 0, 0, 0.25); }

.mk-single-employee.layout-style1 .employees-featured-image img {
  border-radius: 0px !important; }

.right-header {
  float: right;
  font-weight: bold;
  color: white;
<<<<<<< HEAD
  font-size: 22px;
  margin-bottom: -100px; }

.a-sticky .phone-header {
  line-height: 3.5; }
=======
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  line-height: 123px;
  margin-right: 2.6vw;
  transition: .2s; }
  .right-header.cta > span {
    background: #b62327;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px 16px 8px;
    font-family: 'Zilla Slab', serif;
    border-radius: 5px; }
  .right-header.cta:hover > span {
    color: white !important;
    background: #3e92cc; }

.a-sticky .right-header {
  line-height: 82px; }
>>>>>>> newSearch

.side-dash-top-widgets {
  padding-bottom: 0px; }

#sidebar-cruise-search-form input[type="submit"] {
  visibility: hidden; }

img.sidebar-search-icon {
  max-width: 18px;
  float: left;
  padding: 4px 4px 0px 0px; }

#sidebar-cruise-search {
  background: none;
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid white;
  padding: 0px 0px 4px;
  color: white;
  font-size: 18px; }
  #sidebar-cruise-search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  #sidebar-cruise-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white; }
  #sidebar-cruise-search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white; }

@media screen and (max-width: 1024px) {
  .mk-css-icon-menu div {
    background-color: #1c2555 !important; }
  .phone-header {
    color: #1c2555; } }

.rounded-image img {
  border-radius: 10px; }

.banner-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 1000px) {
    .banner-flex {
      flex-wrap: wrap-reverse;
      justify-content: center; } }
  .banner-flex .page-title {
    flex: 1 1 0; }

#search-ad-holder {
  flex: 1 0 1;
  max-width: 100%; }
  #search-ad-holder a > img {
    max-width: 100%;
    height: auto; }

/*
* SINGLE PAGE STYLING
*
* CRUISE, TRAIN, COMBO
*/
/*
* GLOBAL FOR ALL TRAVEL MODES
*/
#theme-page {
  margin-top: -2px; }

/***--- REMOVE PAGE INTRODUCE ---***/
#mk-page-introduce {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/***--- OVERIDE JUPTIER CLASS DO TO JS ISSUES ---***/
.mk-page-section .stm-background-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.single-cruise-content,
.single-cruise-content .vc_row {
  margin-right: 0px !important;
  margin-left: 0px !important; }

/***--- BUTTONS ---***/
a.book-now {
  background-color: #b62327;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 22px;
  padding: 14px 20px;
  transition: all 0.25s;
  margin: 10px 0px; }
  a.book-now:hover {
    background-color: #8b1b1e; }

a.more-info {
  border-radius: 10px;
  border: 2px solid #3e92cc;
  color: #3e92cc;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 22px;
  padding: 12px 18px;
  transition: all 0.25s; }
  a.more-info:hover {
    background-color: #3e92cc !important;
    color: #fff; }

/*
* HEADER
*/
/**-- padding --**/
#tm--header {
  padding-top: 50px; }

/**-- background-image --**/
#header-background-layer {
  background-position: center center;
  background-repeat: no-repeat; }

/*- cruise title -*/
#tm--title {
  color: #fff;
  font-size: 50px;
  letter-spacing: -0.55px;
  line-height: 63px; }

/*- description -*/
#tm--description * {
  color: #fff;
  font-size: 22px; }

#tm--description ul li {
  list-style: disc; }

/*
* TRAVEL MODE DETAILS CARD
*/
/**-- outer wrapper - main card holder --**/
.tm-card--wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 40px 0px;
  font-family: 'Montserrat';
  margin-bottom: -90px;
  margin-top: 90px;
  max-width: 540px;
  overflow: hidden; }

/**-- inner wrapper --**/
.tm-card--inner {
  padding: 20px 15px; }
  .tm-card--inner p {
    color: #1c2555; }

/**-- travel mode details header --**/
.tm-card--header {
  background-color: #3e92cc;
  padding: 15px; }
  .tm-card--header h3 {
    color: #fff !important;
    font-weight: 400; }

/**-- paragraph styles --**/
.tm-card--wrapper p {
  margin-bottom: 15px; }

.tm-card--sale p {
  color: #b62327; }

/***--- CALL TEXT ---***/
.tm-card--inner .call {
  color: #b62327;
  font-size: 22px;
  margin-top: 10px; }
  .tm-card--inner .call a {
    color: #b62327 !important;
    font-weight: bold; }
    .tm-card--inner .call a:hover {
      color: #3e92cc !important; }

.tm-card--inner .note {
  color: #454756;
  font-size: 13px;
  max-width: 330px; }

/**-- svg icons --**/
.tm-card--wrapper svg {
  margin-right: 10px;
  vertical-align: middle; }

/**-- text alignment --**/
.tm-dates-list,
span.text {
  vertical-align: middle; }

/**-- passenger rates --**/
.tm-card--passenger-rates p {
  display: inline-block; }

.tm-card--passenger-rates .tm-card--double-occupancy {
  padding-right: 5px; }

.tm-card--inner p.call * {
  color: #b62327; }

/**-- hidden dates --**/
#card--more-dates {
  text-decoration: underline;
  cursor: pointer; }

#card--hidden-dates {
  display: none; }

/*
* PRIMARY CONTENT SECTION
*/
body[class*="single-"] .main-tm-section {
  background-color: #f4f3eb;
  padding-bottom: 80px;
  padding-top: 180px; }

/***--- ITINERARY ---***/
body[class*="single-"] li {
  list-style: none;
  padding-bottom: 15px; }

#list--itinerary {
  margin-left: 0px; }

/**-- your itinerary title --**/
#title--itinerary {
  font-weight: 400;
  margin-bottom: 50px; }

/**-- day number circle --**/
span.day--number {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 11px 0px;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  /*- the number itself -*/ }
  span.day--number .number--inner {
    color: #1c2555;
    display: inline-block;
    padding-top: 4px; }

/**-- the title for the day --**/
.day--title {
  color: #1c2555;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.14;
  line-height: 22px; }

/**-- itinerary description --**/
.day--description {
  display: inline-block;
  font-size: 17px;
  padding-left: 60px; }

/***--- MAP ---***/
/**-- map & gallery title --**/
#title--map-gallery {
  font-weight: 400;
  margin-bottom: 50px; }

/**-- map image --**/
#map-upload {
  border-radius: 10px;
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 20px; }

/***--- GALLERY ---***/
#tm--gallery li {
  border-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px; }
  #tm--gallery li:nth-child(3n-6) {
    margin-right: 0px; }

/*
* CABIN DETAILS
*/
#available-cabins {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  overflow: hidden; }
  #available-cabins h3 {
    color: #1c2555; }

/**-- table --**/
#available-cabins th {
  color: #1c2555;
  text-align: left; }

#available-cabins td {
  text-align: left;
  color: #3e92cc; }

#available-cabins thead {
  border-bottom: 1px solid #1c2555; }

/**-- ship information link --**/
#available-cabins svg {
  vertical-align: middle; }

#available-cabins p a {
  color: #b62327 !important;
  text-decoration: underline; }
  #available-cabins p a:hover {
    color: #b62327 !important; }

/*
* MARKETING ROWS
*/
body[class*="single-"] #content--marketing div[class*="vc_custom_"] {
  background-position: top center !important; }

body[class*="single-"] #content--marketing .vc_row {
  padding-top: 80px; }
  body[class*="single-"] #content--marketing .vc_row.last_row {
    padding-bottom: 135px; }
  body[class*="single-"] #content--marketing .vc_row.even_row .vc_col-sm-6.second_col {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(69, 72, 87, 0.3) 0px 2px 40px 0px; }
  body[class*="single-"] #content--marketing .vc_row.odd_row .vc_col-sm-6.first_col {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(69, 72, 87, 0.3) 0px 2px 40px 0px; }

/*
* BOOK NOW FOOTER
*/
/**-- full row bg color --**/
#book-now {
  z-index: 999; }

.book-now {
  background-color: #f4f3eb; }

/**-- card bg color --**/
#book-now-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 40px 0px;
  overflow: hidden;
  text-align: center;
  margin-top: -55px;
  margin-bottom: 80px; }

/**-- book today --**/
#book-today {
  color: #3e92cc;
  font-size: 28px;
  letter-spacing: 4.38px;
  text-transform: uppercase; }

/**-- title --**/
#book-now-title {
  color: #3e92cc;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 20px; }

/*
* SINGLE CRUISE SPECIFIC
*/
/**-- travel mode card ship icon --**/
.tm-card--ship a {
  color: #1c2555 !important; }
  .tm-card--ship a:hover {
    color: #b62327 !important; }

/*
* SINGLE TRAIN SPECIFIC
*/
/*
* SINGLE COMBO SPECIFIC
*/
