/*
* BUTTONS
*/


.mk-button--size-small {
    padding: 14px 36px;
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 100%;
    font-weight: 500;
}

.mk-button--size-large {
    padding: 20px 48px;
    font-size: 22px;
    letter-spacing: -0.5px;
    line-height: 100%;
    font-weight: 500;
}

.mk-button--corner-rounded,
.mk-button--corner-rounded .double-outline-inside {
	border-radius: 10px;
}

///Home Page Buttons
/// @since 2.0
#request-info {
    font-size:20px;
    line-height: 1.2em;
	padding:20px;
}

.mobile-button .mk-button{
	font-size:27px!important;
	padding:13px 25px!important;
}