@function _color($keys...) {
  @return val($color, $keys...);
}
/// Gets a value from a map.
/// @author Hugo Giraudel
/// @param {map} $map Map.
/// @param {string} $keys Key(s).
/// @return {string} Value.
@function val($map, $keys...) {
  @if nth($keys, 1)==null {
    $keys: remove-nth($keys, 1);
  }
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}
