
//Responsive tables

.ml-responsive-table{
  margin-bottom: 15px;
  .ml-grid {
    border-bottom: 1px dashed $blue;
  }
  dl:nth-of-type(odd){
    background:white;
  }
}

@media screen and (min-width:1025px) {
  .sfm-navicon-button, .sfm-rollback {
    display:none!important;
  }
}

@media screen and (max-width:1024px) {
  .sfm-navicon-button {
    display:inline-block;
  }
  #sfm-sidebar {
    z-index:10000000000!important;
  }
}

@media handheld, only screen and (max-width: 1024px) {
  .mk-dashboard-trigger, .header-style-1 .mk-nav-responsive-link {
    display:none!important;
  }
}

@media screen and (max-width:767px){
	.mobile-center * {
		text-align: center!important;
	}
	.mobile-background-hide {
		background:none!important;
  }
  .mobile-hide {
    display:none;
  }
}
@media screen and (min-width:768px){
	.mobile-show {
		display:none!important
	}
}

