@charset "UTF-8";

@font-face {
  font-family: "usarc";
  src:url("fonts/usarc.eot");
  src:url("fonts/usarc.eot?#iefix") format("embedded-opentype"),
    url("fonts/usarc.woff") format("woff"),
    url("fonts/usarc.ttf") format("truetype"),
    url("fonts/usarc.svg#usarc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "usarc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dashicons-usarc-"]:before,
[class*=" dashicons-usarc-"]:before {
  font-family: "usarc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-usarc-ship:before {
  content: "\61";
}
.dashicons-usarc-cruise:before {
  content: "\63";
}
.dashicons-usarc-train:before {
  content: "\62";
}
.dashicons-usarc-combo:before {
  content: "\65";
}
