/***--- LOGIN BACKGROUND IMAGE ---***/

body.login {
    // background-color: #23262b;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
}


/***--- LOGIN LOGO IMAGE ---***/

.login h1 a {
    -webkit-background-size: 280px;
    background-color: #1d2556;
    background-image: url(/wp-content/uploads/logo-white.svg);
    background-position-y: 10px;
    background-size: 280px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    height: 100px;
    width: 320px;
}


/***--- MESSAGE BOX STYLES ---**

/**-- form background --**/

// #loginform {
//     background: #cfc9cc;
// }

/**-- form labels --**/

.login label {
    color: #1d2556;
}


/**-- Notice --**/

.login .message {
    border-left: 4px solid #1d2556;
}


/**-- Border on Form --**/

// .login form {
//   border: 4px solid #7ad9a6;
// }

/**-- 'Lost your password?' text colors --**/


/*- Default -*/

.login p#nav a {
    color: #1d2556;
}


/*- Hover -*/

.login p#nav a:hover {
    color: #3e92cc;
}


/**-- '← Back to My Site' text colors --**/


/*- Default -*/

.login p#backtoblog a {
    color: #1d2556;
}


/*- Hover -*/

.login p#backtoblog a:hover {
    color: #3e92cc;
}