.login h1 a{-webkit-background-size:280px;background-color:#1d2556;background-image:url(/wp-content/uploads/logo-white.svg);background-position-y:10px;background-size:280px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.13);box-shadow:0 1px 3px rgba(0,0,0,0.13);height:100px;width:320px}.login label{color:#1d2556}.login .message{border-left:4px solid #1d2556}.login p#nav a{color:#1d2556}.login p#nav a:hover{color:#3e92cc}.login p#backtoblog a{color:#1d2556}.login p#backtoblog a:hover{color:#3e92cc}
