.mk-blog-newspaper-item .blog-item-holder{
  border-radius:10px;
  .newspaper-item-footer{
    border-radius:0px 0px 10px;
    background:$cream;
  }
  .mk-readmore {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    color:$blue;
    transition: linear 0.2s;
    border: 2px solid $blue;
    border-radius:10px;
    &:hover {
      color:white!important;
      background: $blue;
    }
  }
}
