#destinations-loop {
  * {
    box-sizing: border-box;
  }
  background:$cream;
  .header-container {
    background:white;
    padding:70px 0px;
    margin:auto;
    background-position: center center;
    background-size: cover;
    h1 {
      text-align: left;
      color:$navy;
      font-weight:bold;
      font-style: italic;
      font-size: 50px;
      letter-spacing: -0.55px;
    }
  }
  .destinations-container {
    max-width:1200px;
    padding:40px 0px;
    margin:auto;
    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .destination-card {
    height:257px;
    background-position:center center;
    background-size:cover;
    border-radius:10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center;
    a {
      padding:0px 40px;
      color:white;
      font-weight:bold;
      font-style: italic;
      text-align:center;
      font-size:36px;
      letter-spacing: -0.5px;
      line-height:36px;
      width:100%;
      height:100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(29,37,86,0.20);
      border-radius:10px;
    }
  }
  .vc_col-sm-3 {
    margin: 10px 0px;
  }
}
