/*
* GENERAL LAYOUT STYLES
*/

.wf-vertical-align {
	@media screen and (min-width:768px){
		display:flex;
		align-items: center;
	}
}
/***--- TYPOGRAPHY ---***/

h1.page-title {
	font-weight:bold;
	font-style:italic;
	display:inline-block;
	letter-spacing:-0.55px;
	margin:15px 20px 15px;
}
.mk-fancy-title, .wpb_raw_html {
	margin-bottom: 0;
}

.montserrat, .montserrat * {
	font-family: 'Montserrat', sans-serif!important
}


// CRUISE CARDS
.card {
	box-shadow: 0 20px 60px -10px rgba(0,0,0,0.5),
					0 10px 30px -10px rgba(0,0,0,0.25);
}

//Remove border-radius from employee portraits
.mk-single-employee.layout-style1 .employees-featured-image img {
	border-radius:0px!important;
}

// Phone Number in Header Styles
.right-header {
	float: right;
	font-weight: bold;
	color: white;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	line-height:123px;
	margin-right:2.6vw;
	transition:.2s;
	&.cta {
		> span {
			background: $red;
			font-size: 18px;
			text-transform: uppercase;
			padding:9px 16px 8px;
			font-family: 'Zilla Slab', serif;
			border-radius:5px;
		}
		&:hover > span {
			color:white!important;
			background:$blue;
		}
	}
}
.a-sticky .right-header {
	line-height:82px;
}

//Side cruise search

.side-dash-top-widgets {
	padding-bottom:0px;
}
#sidebar-cruise-search-form input[type="submit"] {
	visibility:hidden;
}
img.sidebar-search-icon {
	max-width:18px;
	float:left;
	padding:4px 4px 0px 0px;
}
#sidebar-cruise-search {
	background:none;
	border:none;
	border-radius:0px;
	outline:none;
	box-shadow:none!important;
	border-bottom:1px solid white;
	padding:0px 0px 4px;
	color:white;
	font-size:18px;
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: white;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	    color: white;
	}
}
@media screen and (max-width:1024px){
	// Change hamburger color on mobile
	.mk-css-icon-menu div {
		background-color:$navy!important;
	}
	.phone-header {
		color:$navy;
	}
}

.rounded-image img{
	border-radius:10px;
}

///Ads
/// @since 2.0
.banner-flex {
	display:flex;
	width:100%;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width:1000px){
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.page-title {
		flex: 1 1 0;
	}
}
#search-ad-holder {
	flex: 1 0 1;
	max-width:100%;
	a {
    > img {
      max-width:100%;
      height:auto;
    }
  }
}

