/*
* HOMEPAGE
*/

// hero section

#home-hero {
	h2 {
		max-width: 425px;
		@media(max-width: 768px) {display:none;}
	}

	.mk-skip-to-next[data-skin=light] {
		border:0;
	}

	.home-search {
		padding: 40px 40px 0px;
		background-image: linear-gradient(-180deg, #FFFFFF 25%, rgba(255,255,255,0.80) 100%);
		border-radius: 20px;

		.mk-tabs.default-style {
			.mk-tabs-tabs li a {
				background: transparent;
				border: none;
				cursor: pointer;
				border-radius: 10px;
				transition: all .2s ease-out;
				&:hover { background: rgba(255,255,255,0.25); }
			}

			.mk-tabs-tabs li.is-active a {
				background: rgba(255,255,255,0.66);
			}

			.mk-tabs-panes {
				background: transparent;
				border-color: transparent;
			}
		}
	}
}

#home-destinations {
	.mk-image .mk-image-inner {
		transition: all .33s cubic-bezier(.23,1,.32,1);
		&:hover { transform: translateY(-10px); }
	}
}

/// New Carousel Styles
/// @since 2.0
.center-carousel .vc_images_carousel {
	margin:auto;
}
.home-content {

	.vc_images_carousel {
		
		.vc_item{
			border-radius: 10px;
			overflow: hidden;
		}
		ol.vc_carousel-indicators { 
			margin-bottom: -90px; 
		}
		.vc_carousel-indicators li {
			border-color: transparent;
			width:17px;
			height: 17px;
			margin: 13px;
		}
	}
	.carousel-blue-buttons {
		.vc_carousel-indicators li {
			background-color:rgba(29, 37, 86, .31);
		}
		.vc_active { background-color: $navy!important; }
	}
	.carousel-red-buttons {
		.vc_carousel-indicators li {
			background-color:rgba(255, 255, 255, .44);
		}
		.vc_active { background-color: $red!important; }
	}

	//Hide indicators on mobile
	@media screen and (max-width:767px){
		.vc_carousel-indicators {
			display:none!important;
		}
	}
	.mk-button {
		padding:1em!important;
	}
}


#home-cta {
	h3 { letter-spacing: -0.5px; }
	p { font-style: italic; font-size: 1.33em; line-height:1.2 }

	a {
		font-weight: 800;
		display: inline-block;
		border-bottom: 2px solid white;
		line-height: 1em;
	}
}


/** Webfor Revisions 2019
* @since 2.0 
*/
.white-text * {
    color:white!important;
}

.zilla, .zilla *{
    font-family: 'Zilla Slab', serif!important;
}

#home-hero {
	@media screen and (max-width:767px){
		.page-section-content {
			padding-top:0!important;
			padding-bottom:0!important;
		}
		.page-section-content .mk-padding-wrapper {
			padding:0!important;
		}
	}
}
#home-hero h1,
#home-hero h2,
#home-hero h3,
#home-hero h4,
#home-hero h5,
#home-hero h6 {
    font-family:'Zilla Slab', serif;
    letter-spacing:-.01em;
}

#home-hero a:not(#request-info):hover {
    text-decoration:underline;
}

.rounded-border, .rounded-border > a, .rounded-border img {
	border-radius:10px;
	@media screen and (max-width:767px){
		border-radius:0;
	}
}

@media screen and (max-width:767px){
	.rounded-border > a {
		border-radius:10px!important;
	}
}
#home-hero .page-section-content {
    max-width:1140px;
}

#home-hero p:last-of-type {
    margin-bottom:0;
}
.hero-first-column {
    background: rgba(29, 37, 86, .77);  
}

.hero-heading {
	padding:24% calc(8.9% - 15px) 17.7%;
	@media screen and (max-width:767px){
		padding-bottom:0;
	}
}
.hero-subheading {
    padding:7.1% calc(8.9%);
    background: rgba(62, 146, 204, .77);
    margin-bottom:15px;
}

.hero-heading h1 {
	font-size:54px;
	@media screen and (max-width:767px){
		font-size:45px!important;
	}
    line-height:1.02em;
}


.top-cruises {
    max-width:250px;
    padding:39px 23px!important
}

.top-cruises h3 {
    font-size:20px!important;
    margin-bottom:26px!important;
}

.top-cruises p {
    font-size:16px;
    line-height:1.25em;
    margin-bottom:26px;
}

@media screen and (min-width:1282px){
	.hero-first-column, 
    .hero-second-column,
    .hero-third-column {
        padding:0!important;
	}
	.hero-first-column {
		  margin-right:5.35%;
	   }
	   .hero-second-column {
		  margin-right:6.84%;
		
	   }
}
@media screen and (min-width:768px){
	.hero-first-column {
		padding:0!important;
	}
    .hero-first-column {
      max-width:450px;
   }
   .hero-second-column {
      max-width:250px;
    
   }
   .hero-third-column {
      max-width:300px;
   }
}
@media screen and (max-width:767px){
	body {
		.hero-first-column, 
		.hero-second-column,
		.hero-third-column {
			margin-bottom:0!important;
		}
	}
	
	.hero-first-column {
		padding-bottom:106.5px!important;
	}
	.hero-third-column {
		padding:0!important;
	}
}
.browse-trips {
	// @media screen and 
	margin-bottom:20px;
	padding: 14px 35px;
	@media screen and (max-width:767px){
		padding:10.63% 22.46%;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 20px!important;
		line-height: 1.2;
		margin-bottom: 14px;
	}
	ul.trip-type-list {
		list-style-type: none;
		margin-left: 12px;
		margin-bottom:0;
		li {
			margin-left:0;
			padding-left:40px;
			font-size:18px;
			line-height: 2.1;
			position: relative;
			display:flex;
			align-items: center;
			&:before {
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				width: 25px;
				height: 25px;
				position: absolute;
				left:0;
			}
			&.cruises:before {
				content:'';
				background-image: url('/wp-content/themes/usa-river-cruises/img/ocean-waves.svg');
			}
			&.destinations:before {
				content:'';
				background-image: url('/wp-content/themes/usa-river-cruises/img/globe.svg');
			}
			&.ships:before {
				content:'';
				background-image: url('/wp-content/themes/usa-river-cruises/img/ship.svg');
			}
			&.trains:before {
				content:'';
				background-image: url('/wp-content/themes/usa-river-cruises/img/train.svg');
			}
		}
	}
}

//Homepage Testimonials
.testimonial-block-container  {
	.testimonial-block {
		text-align: center;
	}
	blockquote {
		background:none;
		padding:0;
	}
	.testimonial-author {
		font-style: italic;
		color: $red;
	}
	.testimonial-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-style: italic;
		line-height: 1.3;
		align-items: center;
	}
}
@media screen and (min-width:768px){
	.testimonial-block-container {
		display:flex;
		justify-content: center;
	}
	.testimonial-block {
		position:relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		.testimonial-thumb {
			position: absolute;
			top: -16px;
			align-self: flex-start;
		}
		.testimonial-content {
			border-radius: 50%;
			background: #F5F3EB;
			width: 470px;
			height: 470px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-style: italic;
			line-height: 1.3;
			align-items: center;
			blockquote {
				max-width:370px;
			}
		}
	}
}
@media screen and (max-width:767px){
	body .bottom-row {
		padding-bottom:0!important;
	}
	.testimonial-block {
		position:relative;
		&:before {
			content:'';
			position: absolute;
			width: 200vw;
			z-index: -1;
			background: #F5F3EC;
			height: 100%;
			left: -50vw;
			top: 0;
		}
		background: #F5F3EB;
		text-align: center;
		padding-top:105px;
		padding-bottom:105px;
		.testimonial-thumb{
			padding-bottom:24px;
		}
	}
}




