.ship-template-ship-landing-page {

    /* Fonts */

    p, a, li, .book-today-container h2 {
        font-family:Montserrat!important;
    }
    .mk-fancy-title {
        padding-bottom:10px!important;
    }
    .featured-image, .single-social-section, #mk-page-introduce {
        display:none;
    }

    .theme-page-wrapper, .mk-single-content.clearfix {
        margin-top:0px!important;
        margin-bottom:0px!important;
    }

    .theme-content {
        padding-top:0px!important;
        padding-bottom:0px!important;
    }

    .mk-single-content div.overflow-show {
        overflow:visible!important;
    }
    .cruise-ship-info ul, .cruise-ship-info li {
        margin-left:0px!important;
    }
    .cruise-ship-info ul {
        list-style:none;
    }
    .cruise-ship-info li {
        border-bottom:2px solid #E6E4DC;
        padding:10px 0px;
        text-align:center;
    }

    .request-info-button {
        color:#3E92CC!important;
        border:2px solid #3E92CC;
        border-radius:10px;
    }

    .request-info-button a {
        color:#3E92CC!important;
        
    }
    .background-gradient {
        background-image: linear-gradient(0deg, #FFFFFF 11%, #F5F3EB 73%);
    }


    .book-today-container .vc_column-inner {
        border-radius: 0px 0px 10px 10px;
        padding-top:0px!important;
    }

    .book-today-container a {
        color:#B62327!important;
    }
    .inner-card .vc_column-inner{
    box-shadow: 0 20px 60px -10px rgba(0,0,0,0.5), 0 10px 30px -10px rgba(0,0,0,0.25);
        
    }

    @media screen and (min-width:768px) {
        .cruise-ship-info {
            transform: translateY(-125px);
        }
    }
    @media screen and (max-width:767px) {
        .featured-image, #mk-page-introduce {
            display:block;
        }
        #mk-page-introduce {
            padding-top:0px!important;
            padding-bottom:0px!important
        }
        #mk-breadcrumbs {
        display:none;   
        }
        #theme-page .theme-page-wrapper .theme-content {
            padding-top:0px!important;
        }
    }
}