aside.cruise-list, article.sidebar-page {
  box-sizing: border-box;
}

aside.cruise-list {
  padding:0em 1.6em;
  .card {
    border-radius:10px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    overflow: hidden;
    padding:0px 20px;
    h3 {
      color:white;
      padding:10px 20px;
      background:$blue;
      margin:0px -20px 10px;
    }
  }
}

@media screen and (min-width:769px){
  article.sidebar-page {
    width:66%;
    display:inline-block;
    float:left;
  }
  aside.cruise-list {
    width:34%;
    display:inline-block;
  }
}
