/* CRUISE ARCHIVE w/ DESTINATION STYLING */
#destination-taxonomy, #cruise-search-results {
  * {
    box-sizing: border-box;
  }
  background:$cream;
  h1 {
    color: $navy;
    font-size:50px;
    letter-spacing: -0.55px;
  }
  .description {
    max-width:735px;
  }
  p {
    font-size:18px;
    color: $navy;
    letter-spacing: -0.2px;
    padding:0px;
  }
  .archive-header-container {
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
  }
  .overlay {
    background:rgba(245,243,235,0.77);
  }
  .cruise-archive-content {
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:60px 10px;
    display:block;
    position:static;
  }
  .grid-container {
    width:100%;
    max-width:1200px;
    &:before, &:after {
      content:"";
      display:table;
      clear:both;
    }
  }
  .cruise-card {
    background:white;
    float:left;
    width:100%;
    border-radius:10px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.15);
    overflow: hidden;
    margin-bottom:42px;
    img {
      width:100%;
      max-width:100%;
    }
    .cruise-header-image-container {
      position:relative;
      .cruise-header-image {
        width: 100%;
        height:0px;
        padding-top:63%;
        background-color: $gray; //fallback
        background-position: center;
        background-size: cover;
        transition: linear 0.1s;
        display:block;
        &:hover {
          transform: scale(1.02);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px);
        }
      }
    }
    .cruise-card-content {
      padding:20px;
      hyphens: auto;
    }
    h2 {
      color:$blue;
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      font-size: 30px;
      letter-spacing: -.5px;
    }
    p, li {
      font-family: 'Montserrat', sans-serif;
      font-family:18px;
      letter-spacing: -0.45px;
      line-height:22px;
    }
    .cruise-details {
      list-style: none;
      margin-left: 0px;
      li {
        margin-left:0px;
        margin-top:8px;
        padding-bottom:8px;
        background-repeat: no-repeat;
        background-size: 25px auto;
        line-height: 30px;
        vertical-align: middle;
        letter-spacing: -0.24px;
        span {
          vertical-align: middle;
          font-size:16px;
          display:inline-block;
          line-height:19px;
          position:relative;
        }
        img {
          display:inline;
          max-width:25px;
          vertical-align: middle;
        }
      }
    }
    a.cruise-select {
      font-size:18px;
      font-weight:400;
      color: $blue;
      line-height: 22px;
      letter-spacing: -.41px;
      border: 2px solid $blue;
      border-radius:10px;
      padding:10px 30px;
      font-family: 'Montserrat', sans-serif;
      display:inline-block;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      margin:0px 20px 20px;
      &:hover {
        background:$blue;
        color:white;
      }
    }
    .sale-text {
      color:$red;
    }
  }
}
#destination-taxonomy {
  .mk-toggle-title {
    padding-left:0px!important;
    font-size:1em!important;
    color:$navy!important;
    text-decoration:underline;
  }
  
  .mk-toggle-pane {
    padding:0px!important;
    background:none!important;
  }
}
