/*
* SINGLE PAGE STYLING
*
* CRUISE, TRAIN, COMBO
*/


/*
* GLOBAL FOR ALL TRAVEL MODES
*/

#theme-page {
    margin-top: -2px;
}


/***--- REMOVE PAGE INTRODUCE ---***/

#mk-page-introduce {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


/***--- OVERIDE JUPTIER CLASS DO TO JS ISSUES ---***/

.mk-page-section .stm-background-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.single-cruise-content,
.single-cruise-content .vc_row {
    //Margin fix
    margin-right: 0px!important;
    margin-left: 0px!important;
}


/***--- BUTTONS ---***/

a.book-now {
    background-color: $red;
    border-radius: $border-radius;
    color: $white;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.41px;
    line-height: 22px;
    padding: 14px 20px;
    transition: all 0.25s;
    margin: 10px 0px;
    &:hover {
        background-color: darken($red, 10);
    }
}

a.more-info {
    border-radius: $border-radius;
    border: 2px solid $blue;
    color: $blue;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.41px;
    line-height: 22px;
    padding: 12px 18px;
    transition: all 0.25s;
    &:hover {
        background-color: $blue !important;
        color: $white;
    }
}


/*
* HEADER
*/


/**-- padding --**/

#tm--header {
    padding-top: 50px;
}


/**-- background-image --**/

#header-background-layer {
    background-position: center center;
    background-repeat: no-repeat;
}


/*- cruise title -*/

#tm--title {
    color: $white;
    font-size: 50px;
    letter-spacing: -0.55px;
    line-height: 63px;
}


/*- description -*/

#tm--description * {
    color: $white;
    font-size: 22px;
}

#tm--description ul li {
    list-style: disc;
}


/*
* TRAVEL MODE DETAILS CARD
*/


/**-- outer wrapper - main card holder --**/

.tm-card--wrapper {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 40px 0px;
    font-family: 'Montserrat';
    margin-bottom: -90px;
    margin-top: 90px;
    max-width: 540px;
    overflow: hidden;
}


/**-- inner wrapper --**/

.tm-card--inner {
    padding: 20px 15px;
    p {
        color: $navy;
    }
}


/**-- travel mode details header --**/

.tm-card--header {
    background-color: $blue;
    padding: 15px;
    h3 {
        color: $white !important;
        font-weight: 400;
    }
}


/**-- paragraph styles --**/

.tm-card--wrapper p {
    margin-bottom: 15px;
}

.tm-card--sale p {
    color: $red;
}


/***--- CALL TEXT ---***/

.tm-card--inner .call {
    color: $red;
    font-size: 22px;
    margin-top: 10px;
    a {
        color: $red !important;
        font-weight: bold;
        &:hover {
            color: $blue !important;
        }
    }
}

.tm-card--inner .note {
    color: $gray;
    font-size: 13px;
    max-width: 330px;
}


/**-- svg icons --**/

.tm-card--wrapper svg {
    margin-right: 10px;
    vertical-align: middle;
}


/**-- text alignment --**/

.tm-dates-list,
span.text {
    vertical-align: middle;
}


/**-- passenger rates --**/

.tm-card--passenger-rates {
    p {
        display: inline-block;
    }
    .tm-card--double-occupancy {
        padding-right: 5px;
    }
}

.tm-card--inner p.call {
    * {
        color: $red;
    }
}


/**-- hidden dates --**/

#card--more-dates {
    text-decoration: underline;
    cursor: pointer;
}

#card--hidden-dates {
    display: none;
}


/*
* PRIMARY CONTENT SECTION
*/

body[class*="single-"] .main-tm-section {
    background-color: $cream;
    padding-bottom: 80px;
    padding-top: 180px;
}


/***--- ITINERARY ---***/

body[class*="single-"] li {
    list-style: none;
    padding-bottom: 15px;
}

#list--itinerary {
    margin-left: 0px;
}


/**-- your itinerary title --**/

#title--itinerary {
    font-weight: 400;
    margin-bottom: 50px;
}


/**-- day number circle --**/

span.day--number {
    background-color: $white;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 11px 0px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    /*- the number itself -*/
    .number--inner {
        color: $navy;
        display: inline-block;
        padding-top: 4px;
    }
}


/**-- the title for the day --**/

.day--title {
    color: $navy;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.14;
    line-height: 22px;
}


/**-- itinerary description --**/

.day--description {
    display: inline-block;
    font-size: 17px;
    padding-left: 60px;
}


/***--- MAP ---***/


/**-- map & gallery title --**/

#title--map-gallery {
    font-weight: 400;
    margin-bottom: 50px;
}


/**-- map image --**/

#map-upload {
    border-radius: $border-radius;
    max-width: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}


/***--- GALLERY ---***/

#tm--gallery {
    li {
        border-radius: $border-radius;
        overflow: hidden;
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(3n-6) {
            margin-right: 0px;
        }
    }
}


/*
* CABIN DETAILS
*/

#available-cabins {
    background-color: $white;
    border-radius: $border-radius;
    padding: 30px 40px;
    overflow: hidden;
    h3 {
        color: $navy;
    }
}


/**-- table --**/

#available-cabins {
    th {
        color: $navy;
        text-align: left;
    }
    td {
        text-align: left;
        color: $blue;
    }
    thead {
        border-bottom: 1px solid $navy;
    }
}


/**-- ship information link --**/

#available-cabins {
    // SVG Icon
    svg {
        vertical-align: middle;
    }
    p {
        a {
            color: $red !important;
            text-decoration: underline;
            &:hover {
                color: $red !important;
            }
        }
    }
}


/*
* MARKETING ROWS
*/

body[class*="single-"] #content--marketing {
    // Column Background Images
    div[class*="vc_custom_"] {
        background-position: top center !important;
    }
    .vc_row {
        padding-top: 80px;
        &.last_row {
            padding-bottom: 135px;
        }
        &.even_row {
            .vc_col-sm-6 {
                &.second_col {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    box-shadow: rgba(69, 72, 87, 0.3) 0px 2px 40px 0px;
                }
            }
        }
        &.odd_row {
            .vc_col-sm-6 {
                &.first_col {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    box-shadow: rgba(69, 72, 87, 0.3) 0px 2px 40px 0px;
                }
            }
        }
    }
}


/*
* BOOK NOW FOOTER
*/


/**-- full row bg color --**/

#book-now {
    z-index: 999;
}

.book-now {
    background-color: $cream;
}


/**-- card bg color --**/

#book-now-card {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 40px 0px;
    overflow: hidden;
    text-align: center;
    margin-top: -55px;
    margin-bottom: 80px;
}


/**-- book today --**/

#book-today {
    color: $blue;
    font-size: 28px;
    letter-spacing: 4.38px;
    text-transform: uppercase;
}


/**-- title --**/

#book-now-title {
    color: $blue;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 20px;
}


/*
* SINGLE CRUISE SPECIFIC
*/


/**-- travel mode card ship icon --**/

.tm-card--ship {
    a {
        color: $navy !important;
        &:hover {
            color: $red !important;
        }
    }
}


/*
* SINGLE TRAIN SPECIFIC
*/


/*
* SINGLE COMBO SPECIFIC
*/
